
<article class="article-card{% if article.image == blank or show_image == false %} article-card--no-image{% endif %}" aria-labelledby="Article-{{ article.id }}">
    <div  class="article-content motion-reduce">
        {%- if show_image == true and article.image -%}
            <div class="article-card__image-wrapper">
                <div class="article-card__image media media--landscape">
                  <img srcset="
                                    {%- if article.image.src.width >= 165 -%}{{ article.image.src | img_url: '165x' }} 165w,{%- endif -%}
                                    {%- if article.image.src.width >= 360 -%}{{ article.image.src | img_url: '360x' }} 360w,{%- endif -%}
                                    {%- if article.image.src.width >= 533 -%}{{ article.image.src | img_url: '533x' }} 533w,{%- endif -%}
                                    {%- if article.image.src.width >= 720 -%}{{ article.image.src | img_url: '720x' }} 720w,{%- endif -%}
                                    {%- if article.image.src.width >= 940 -%}{{ article.image.src | img_url: '940x' }} 940w,{%- endif -%}
                                    {%- if article.image.src.width >= 1066 -%}{{ article.image.src | img_url: '1066x' }} 1066w{%- endif -%}" src="{{ article.image.src | img_url: '533x' }}" sizes="(min-width: 1100px) 535px, (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)" alt="{{ article.image.src.alt | escape }}" width="{{ article.image.width }}" height="{{ article.image.height }}" loading="lazy" class="motion-reduce">
                </div>
            </div>
            {%- endif -%}
            <div class="article-card__info">
               
                            <header class="article-card__header">
                                <h2 class="article-card__title" id="Article-{{ article.id }}">
                                <a href="{{article.url}}" >

                                  {{ article.title | escape }}
                                </a>
                                </h2>
                                
                            </header>
                       
                            {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                                
                                <div class="social-container bottom">
                                   
                                    <span class="circle-divider">
                                        <span>Published
                                        </span>
                                       <span class="date"> {{article.published_at | date: "%B %d, %Y"}}</span>
                                    </span>
                                
                                
                                {%- if block.settings.show_author -%}
                                    <span class="">{{ article.author}}</span>
                                {%- endif -%}
                                  <span class="reading-time" title="Estimated read time">
                                      {% assign words = article.content | strip_html | split:' ' %}
                                      {%- assign readtime = words.size | divided_by: 200 | round | at_least: 1 -%}
                                      {{ readtime }}
                                      {%- if readtime > 1 -%}
                                      Minutes 
                                      {%- else -%}
                                      Minute 
                                      {%- endif -%}&nbsp;Read
                                  </span>
                                  <div class="article-card__footer">
                                    <p class="article-card__excerpt bottom">
                                        {%- if article.excerpt.size > 0 -%}
                                            {{ article.excerpt | strip_html | truncatewords: 25 }}
                                        {%- else -%}
                                            {{ article.content | strip_html | truncatewords: 25 }}
                                        {%- endif -%}
                                    </p>
                                    <span class="article-card__link" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title | escape }}">
                                        <a href="{{article.url}}">
                                          {{ 'blogs.article.read_more'  | t }}
                                        </a>
    
                                    </span>
                                    {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                                        <span>{{ 'blogs.article.comments' | t: count: article.comments_count }}</span>
                                    {%- endif -%}
                                    <div class="article-template__social-sharing">
                                     <span>Share : </span> {% render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
                                    </div>
                                </div>
                                </div>
                                
                            {%- endif -%}

                     
                       
                            
              
            </div>
            
          </div>
    </article>