<nav class="breadcrumb page-width" role="navigation" aria-label="breadcrumbs">
  <a href="/" title="Home">Home</a>
  {% if template contains 'collection' and collection.handle %}
    <span aria-hidden="true">/</span>
    <span class="active-page brand-active-page">{{ collection.title }}</span>
 	{% endif %}
   {% if template contains 'product' %}
    <span aria-hidden="true">/</span>
    <span class="active-page brand-active-page">Products/{{ product.title }}</span>
 	{% endif %}
   {% if template contains 'blog' %}
   <span aria-hidden="true">/</span>
   <span class="active-page brand-active-page">{{ blog.title }}</span>  
   {% endif %}
   {% if template contains 'page' %}
   <span aria-hidden="true">/</span>
   <span class="active-page brand-active-page">{{ page.title }}</span>  
   {% endif %}
   {% if template contains 'article' %}
   <span aria-hidden="true">/</span>
   <span class=" brand-active-page">Blogs</span>
   <span aria-hidden="true">/</span>  
   <span class="active-page brand-active-page">{{article.title | capitalize}}</span>
   {% endif %}
   {% if template contains 'customer' %}
   <span aria-hidden="true">/</span>
   <span class=" brand-active-page">Profile</span>
   <span aria-hidden="true">/</span>  
   <span class="active-page brand-active-page">My Account</span>
   {% endif %}
</nav>

<style>
  nav.breadcrumb.page-width {
    padding-top: 10px;
    padding-bottom: 25px;
    color: #858585;
    font-weight: bold;
}
.breadcrumb a{
  color: inherit;
  text-decoration: none;
}
</style>