{{ 'section-contact-form.css' | asset_url | stylesheet_tag }}
<style>
.main-page-title{
    padding-bottom: 10px;
    border-bottom: 1px solid #4b4b4b;
}
.main-page-title::after{
    background-color:transparent;
}
.label label{
    color: #000;
}
.contact__feilds{
    margin-bottom: 3rem;
}
.wrap{
    display: flex;
    gap: 20px;
}
</style>
<div class="contact form">
    <div class=" ">
        {%- form 'contact', id: 'ContactForm' -%}
          {%- if form.posted_successfully? -%}
            <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
          {%- elsif form.errors -%}
            <div class="form__message">
              <h2 class="form-status caption-large" role="alert" tabindex="-1" autofocus>{% render 'icon-error' %} {{ 'templates.contact.form.error_heading' | t }}</h2>
            </div>
            <ul class="form-status-list caption-large" role="list">
              <li>
                <a href="#ContactForm-email" class="link">
                  {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
                </a>
              </li>
            </ul>
          {%- endif -%}
          <div class="contact__fields">
            <div class="label">
                <label class="" for="ContactForm-phone">Order Number/Id</label>
              </div>
              <div class=" ">
                <input
                  type="text"
                  id="ContactForm-email"
                  class="field__input"
                  name="contact[_Order Number]"
                  spellcheck="false"
                  autocapitalize="off"
                >
              </div>
        </div>
          <div class="contact__fields">
              <div class="label">Name</div>
            <div class="wrap ">
                <div class="">
                    <input class="field__input" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="first {{ 'templates.contact.form.name' | t }}">
                    <label class="" for="ContactForm-name">{{ 'templates.contact.form.name' | t }}</label>
                  </div>
                  <div class="">
                      <input class="field__input" type="text" name="contact[_Last Name]" placeholder="Last Name">
                      <label class="">Last Name</label>
                    </div>
            </div>
           
          </div>
          <div class="contact__fields">
            <div class="label">
    
                <label class="" for="ContactForm-phone">Email</label>
              </div>
              <div class="">
                <input type="text"  id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[email]"  placeholder="City">
              </div>
           
         </div>
         <div class="contact__fields">
            <div class="label">
               
                <label class="" for="ContactForm-phone">Phone Number</label>
              </div>
              <div class="wrap">
               <div>
                <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[__Area Code]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
                <label for="">Area Code</label>
               </div>
              <div>
                <input type="tel" id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
                <label for="">Phone Number</label>
              </div>
              </div>
           
         </div>
          <div class="contact__fields">
              <div class="label"><label class="" for="ContactForm-phone">Address</label></div>
              <div class="contact__fields">
                <div class="">

                   <div>
                    <input type="text"  id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[street address]"  placeholder="City">
                    <label for="">Street Address</label>
                   </div>
                    <div>
                        <input type="text"  id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[street address line 2]"  placeholder="City">
                        <label for="">Street Address Line 2</label>
                    </div>
                 <div class="wrap">
                        <div>
                            <input type="text"  id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[address city ]"  placeholder="City">
                            <label for="">City</label>
                        </div>
                    <div>
                        <input type="text"  id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[address state ]"  placeholder="City">
                        <label for="">State /Province</label>
                    </div>
                 </div>
                   <div>
                    <input type="text"  id="ContactForm-phone" class="field__input" autocomplete="tel" name="contact[address pincode ]"  placeholder="City">
                    <label for="">Postal/Zip Code</label>
                   </div>
                    
                  </div>
              </div>
            
           
         </div>

         <div class="">
             <label class="form__label " for="ContactForm-body">Reason For Cancellation/Postpone</label>
            <textarea
              rows="3"
              id="ContactForm-body"
              class="text-area field__input"
              name="contact[_Query]"
              placeholder="Share The Nature Of Your Query Here"
            >
              {{- form.body -}}
            </textarea>
          </div>
         

        {%- endform -%}
    </div>
    
  </div>