{% assign productDescription = product.description | split:"<!-- split -->" %}
{% unless template contains 'product' %}
<div class="decription-main">
  {{ productDescription[0] }}

  <div class="decription-image">
    <div class="decription-image-item">
      {%- if product.metafields.my_fields.icon -%}
      <div class="image">
        <img alt="img1" src="{{product.metafields.my_fields.icon | img_url:'80x'}}">
      </div>
      {%- endif -%}
      {%- unless product.metafields.my_fields.icon_label == blank -%}
      <div class="image-text">{{product.metafields.my_fields.icon_label}}</div>
      {%- endunless -%}
        
    </div>
    <div class="decription-image-item">
      {%- unless product.metafields.my_fields.icon_2 == blank -%}
        
      <div class="image"><img alt="img2" src="{{product.metafields.my_fields.icon_2 | img_url:'80x'}}"></div>
      {%- endunless -%}
    {%- unless product.metafields.my_fields.icon_label_2 == blank -%}
      
    <div class="image-text">{{product.metafields.my_fields.icon_label_2}}</div>
    {%- endunless -%}
    </div>
    <div class="decription-image-item">
      {%- unless product.metafields.my_fields.icon_3 == blank -%}
        
      <div class="image"><img alt="img3" src="{{product.metafields.my_fields.icon_3 | img_url:'80x'}}"></div>
      {%- endunless -%}
    {%- unless product.metafields.my_fields.icon_label_3 == blank -%}
      
    <div class="image-text">{{product.metafields.my_fields.icon_label_3}}</div>
    {%- endunless -%}
    </div>
    <div class="decription-image-item">
      {%- unless product.metafields.my_fields.icon_4 == blank-%}
        
      <div class="image"><img alt="img4" src="{{product.metafields.my_fields.icon_4 | img_url:'80x'}}"></div>
      {%- endunless -%}
    {%- unless product.metafields.my_fields.icon_label_4 == blank-%}
      
    <div class="image-text">{{product.metafields.my_fields.icon_label_4}}</div>
    {%- endunless -%}
    </div>
    </div>
</div>
{% endunless %}
{% if template contains 'product' %}
<div class="page-width">
  {% if productDescription[1] or productDescription[2] %}
   <div class="description">
    <div class="product-description-title">
      {{ productDescription[1] }}
      </div>
      <div class="product-description">
      {{ productDescription[2] }}
      </div>
   </div>
  {% endif %}
  {% if productDescription[3] or productDescription[4] %}
    
      <div class="spaced-section desc-3">
      <div class="image-with-text  color-scheme-background-1">
        <div class="image-with-text__grid color-background-1 image-with-text__grid--reverse grid  grid--1-col grid--2-col-tablet">
          {% if productDescription[3] != blank %}
          <div class="grid__item">
            <div class="image-with-text__content image-with-text__content--adapt">
              <div class="image-with-text__text rte">
              {{ productDescription[3] }}
              </div>
            </div>
          </div>
          {% endif %}
          {% if productDescription[4] != blank %}
          <div class="grid__item">
            <div class="image-with-text__media image-with-text__media--placeholder">
              {{ productDescription[4] }}
            </div>
        </div>
          {% endif %}
      </div>
      </div>
    </div>
  {% endif %}
  {% if productDescription[7] != blank %}
  <div class="image-with-text  color-scheme-background-1 desc-4">
      <div class="">
        <div class="grid products">
          {{ productDescription[7] }}
        </div>
    </div>
  
  </div>
  {% endif %}
  {% if productDescription[5] or productDescription[6]  %}
    
      <div class="shopify-section spaced-section spaced-section--full-width desc-5">
      <div class="image-with-text  color-scheme-background-1">
        <div class="image-with-text__grid color-background-1 image-with-text__grid--reverse grid  grid--1-col grid--2-col-tablet">
          {% if productDescription[5] != blank %}
          <div class="grid__item">
            <div class="image-with-text__media image-with-text__media--placeholder">
              {{ productDescription[5] }}
            </div> 
          </div>
          {% endif %}
          {% if productDescription[6] != blank %}
          <div class="grid__item">
            <div class="image-with-text__content image-with-text__content--adapt">
              <div class="image-with-text__text rte">
              {{ productDescription[6] }}
              </div>
          </div>        
        </div>
          {% endif %}
      </div>
      </div>
    </div>
  {% endif %}
  {% if  productDescription[8] %}
    

    <ul class="product-additional-media grid grid--1-col grid--2-col-tablet desc-6"  role="list">
		   {{ productDescription[8] }}  
    </ul>
 
  {% endif %}
{% if productDescription[9] %}
{{ productDescription[9] }}
{% endif %}

  <hr class="custom_hr">
  {% render 'product-additional-information' %}

</div>
{% endif %}




<style>
 .multicolumn-card__info {
    margin: auto;
    width: 80%;
}

.decription-image-item{
  padding: 0 10px;
    flex: 1;
}
.product-additional-media li.center.grid__item.multicolumn-list__item {
    width: 100%;
}
  img.image-with-text{
  	width:100%;
  }

  img.small-img {
    max-width: 190px;
    width: 100%;
}
  .image-with-text__text.rte{
  	text-align: justify;
    letter-spacing: 0.03rem;
    line-height: 1.4;
  }
  .product-description {
    text-align: justify;
    line-height: 1.4;
}
  .decription-main {
    margin-bottom: 30px;
}

  .grid-1 {
    font-weight: 600;
    max-width: 50%;
    width: 100%;
    padding: 10px;
}
.grid-1 .grid-up{
  max-width: 190px;
  width: 100%;
  margin: auto;
  font-size: 0;
}
  .description-text p {
    text-indent: 95px;
    font-weight: 600;
    padding-top: 20px;
  }
  .product-description-title {
    border-top: 1px solid #bdbdbd;
    font-size: 1.65rem;
    font-weight: 600;
}
  @media (min-width:481px) {
    .grid-1 {
         max-width: 33.33%;
      }
      .product-additional-media li.center.grid__item.multicolumn-list__item {
   
      width: 50%;
}
  }
  @media (min-width:750px) {
      .grid-1 {
         max-width: 25%;
      }
    .product-additional-media li.center.grid__item.multicolumn-list__item {

      width: 33.33%;
    }
  }
  @media (min-width:990px) {
    .grid-1 {
      max-width: 100%;
    flex: 1;
}
    .product-additional-media li.center.grid__item.multicolumn-list__item {
    width:20%;
    }
  }


</style>

