<div class="share page-width">
                {% if section.settings.share %}
                <div class="share-tittle">
                  {{ section.settings.share}}
                </div>
                {% endif %}
                {% if section.settings.facebook %}
                <div class="facebook">
                  <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
                  {{ section.settings.facebook }}
                  </a>
                </div>
                {% endif %}
                {% if section.settings.instagram %}
                <div class="instagram">
                  <a href="https://www.instagram.com/?text={{ share_title | url_param_escape }}&url={{ shop.url | append: share_permalink }}" target="_blank">
                	{{ section.settings.instagram }}
                  </a>
                </div>
                {% endif %}
                {% if section.settings.pineterest %}
                <div class="pineterest">
                  <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: '1024x1024' }}&amp;description={{ share_title | url_param_escape }}">
                  {{ section.settings.pineterest }}
                  </a>
                </div>
                {% endif %}
                {% if section.settings.twitter %}
                <div class="twitter">
                  <a target="_blank" href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
                	{{ section.settings.twitter }}
                  </a>
                </div>
                {% endif %}
                {% if section.settings.other-svg-icon %}
                <div class="other">
                  <a href="{{ section.settings.other-svg-icon_link }}" target="_blank">
                  {{ section.settings.other-svg-icon }}
                  </a>
                </div>
                {% endif %}
              </div>