<!-- Start Snippet product-additional-information-->
<div class="additional-info">
  <div class="additional-info-title">
    <h3>Additional Information</h3>
  </div>
  <div class="table">
    <div class="table-title left-space">Product details</div>
    {% if product.metafields.my_fields.product_dimension != blank %}
    <div class="table-row grid">
      <div class="table-col-title left-space">Product Dimensions</div>
      <div class="table-col-info left-space">{{ product.metafields.my_fields.product_dimension }}</div>
    </div>
    {% endif %}
    {% if product.metafields.my_fields.date_first_available != blank %}
    <div class="table-row grid">
      <div class="table-col-title left-space">Date First Available</div>
      <div class="table-col-info left-space">{{ product.metafields.my_fields.date_first_available }}</div>
    </div>
    {% endif %}
    {% if product.metafields.my_fields.sku_code != blank %}
    <div class="table-row grid">
      <div class="table-col-title left-space">SKU Code</div>
      <div class="table-col-info left-space">{{ product.metafields.my_fields.sku_code}}</div>
    </div>
    {% endif %}
    {% if product.metafields.my_fields.item_part_number != blank %}
    <div class="table-row grid">
      <div class="table-col-title left-space">Item part number</div>
      <div class="table-col-info left-space">{{ product.metafields.my_fields.item_part_number}}</div>
    </div>
    {% endif %}
    {% if product.metafields.my_fields.country_of_origin != blank %}
    <div class="table-row grid">
      <div class="table-col-title left-space">Country of origin</div>
      <div class="table-col-info left-space">{{ product.metafields.my_fields.country_of_origin}}</div>
    </div>
    {% endif %}
    {% if product.metafields.my_fields.item_weight != blank %}
    <div class="table-row grid">
      <div class="table-col-title left-space">Item Weight</div>
      <div class="table-col-info left-space">{{ product.metafields.my_fields.item_weight}}</div>
    </div>
    {% endif %}
    {% if product.metafields.my_fields.item_dimensions != blank %}
    <div class="table-row grid">
      <div class="table-col-title left-space">Item Dimensions LxWxH</div>
      <div class="table-col-info left-space">{{ product.metafields.my_fields.item_dimensions}}</div>
    </div>
    {% endif %}
    {% if product.metafields.my_fields.net_quantity != blank %}
    <div class="table-row grid">
      <div class="table-col-title left-space">Net Quantity</div>
      <div class="table-col-info left-space">{{ product.metafields.my_fields.net_quantity}}</div>
    </div>
    {% endif %}
    <div class="table-title left-space">Important Information</div>
    {% if product.metafields.my_fields.ingredients != blank %}
    <div class="table-row grid">
      <div class="table-col-title left-space">Ingredients</div>
      <div class="table-col-info left-space">{{ product.metafields.my_fields.ingredients}}</div>
    </div>
    {% endif %}
    {% if product.metafields.my_fields.direction != blank %}
    <div class="table-row grid">
      <div class="table-col-title left-space">Directions</div>
      <div class="table-col-info left-space">{{ product.metafields.my_fields.direction}}</div>
    </div>
    {% endif %}
  </div>
</div>


<!-- End Snippet product-additional-information-->

<style>
.table{
  border: 2px solid #a6a6a6;
}
  .table-title {
    border-bottom: 1px solid #a6a6a6;
}
  .table-row.grid{
  	margin-left:0rem;
    margin-bottom:0rem;
  }
  .table-col-title {
    width: 30%;
    border-right: 1px solid #a6a6a6;
    border-bottom: 1px solid #a6a6a6;
}
  .table-col-info {
    border-bottom: 1px solid #a6a6a6;
    width: 70%;
    word-break: break-word;
}
  .left-space {
    padding-left: 20px;
}
  .table-title{
    font-weight: 700;
    color: #9D9D9D;
}
  hr{
  margin:2rem 0;
  }
  .additional-info-title h3 {
    font-weight: 700;
    color: #7C7C7C;
}
</style>