<!-- Start product page badges(trust) snippet product_trust_badges.liquid-->
    {% if settings.show_section == true %}
      <ul class="grid  grid--3-col-tablet product-badge" role="list">
        <li class="grid__item badge-item center">
          <div class="badge-item-inner">
            {% if settings.badge1 != blank %}
            <div class="">
              <div class="media media--transparent media--square"><img src="{{ settings.badge1 | img_url:'master'}}" alt="Column"></div>
            </div>
            {% endif %}
            {% if  settings.title1 != blank %}
            <div class="badge-title">
              <span>{{settings.title1 }}</span>
            </div>
            {% endif %}
          </div>
        </li>
        <li class=" grid__item badge-item center">
          <div class="badge-item-inner">
            {% if settings.badge2 != blank %}
            <div class=" ">
              <div class="media media--transparent media--square"><img src="{{ settings.badge2 | img_url:'master'}}" alt="Column"></div>
            </div>
            {% endif %}
            {% if settings.title2 != blank %}
            <div class="badge-title">
              <span>{{settings.title2 }}</span>
            </div>
            {% endif %}
          </div>
        </li>
        <li class=" grid__item badge-item center">
          <div class="badge-item-inner">
            {% if settings.badge3 != blank %}
            <div class=" ">
              <div class="media media--transparent media--square"><img src="{{ settings.badge3 | img_url:'master'}}" alt="Column"></div>
            </div>
            {% endif %}
            {% if settings.title3 != blank %}
            <div class="badge-title">
              <span>{{settings.title3 }}</span>
            </div>
            {% endif %}
          </div>
        </li>
        <li class=" grid__item badge-item center">
          <div class="badge-item-inner">
            {% if settings.badge4 != blank %}
            <div class=" ">
              <div class="media media--transparent media--square"><img src="{{ settings.badge4 | img_url:'master'}}" alt="Column"></div>
            </div>
            {% endif %}
            {% if  settings.title4 != blank %}
            <div class="badge-title">
              <span>{{settings.title4 }}</span>
            </div>
            {% endif %}
          </div>
        </li>
        <li class=" grid__item badge-item center">
          <div class="badge-item-inner">
            {% if settings.badge5 != blank %}
            <div class=" ">
              <div class="media media--transparent media--square"><img src="{{ settings.badge5 | img_url:'master'}}" alt="Column"></div>
            </div>
            {% endif %}
            {% if settings.title5 != blank %}
            <div class="badge-title">
              <span>{{settings.title5 }}</span>
            </div>
            {% endif %}
          </div>
        </li>
      </ul>
    {% endif %}
    <!--End product page badges(trust) snippet product_trust_badges.liquid-->