<div class="description_metafield-section">
  {%- if product.metafields.my_fields.left_content != blank -%}
  <div class="left_content-product content_section">
    {{ product.metafields.my_fields.left_content }}
  </div>
  {% endif %}
  {%- if product.metafields.my_fields.right_image != blank -%}
  <div class="left_image-product content_section">
    <img src="{{ product.metafields.my_fields.right_image | img_url: 'master' }}" alt="right image" /> 
  </div>
  {% endif %}
</div>

<!--- left image and right content ---->
<div class="description_metafield-section">
  {%- if product.metafields.my_fields.left_image != blank -%}
  <div class="left_image-product content_section">
    <img src="{{ product.metafields.my_fields.left_image | img_url: 'master' }}" alt="left image" /> 
  </div>
  {% endif %}
  {%- if product.metafields.my_fields.right_content != blank -%}
  <div class="left_content-product content_section">
    {{ product.metafields.my_fields.right_content }}
  </div>
  {% endif %}
</div>

{%- if product.metafields.my_fields.benefits_image != blank -%}
<div class="product_benefits-section">
  <img src="{{ product.metafields.my_fields.benefits_image | img_url: 'master' }}" alt="benefits image" />
</div>
{% endif %}


<style>
  .product_benefits-section img, .description_metafield-section img{
    width: 100%;
  }
  .description_metafield-section{
    display: flex;
  }
  .description_metafield-section .content_section{
    width: 50%;
  }
</style>