{{ 'customer.css' | asset_url | stylesheet_tag }}
<!-- {{ 'customer.css' | asset_url | stylesheet_tag }} -->
<script src="{{ 'customer.js' | asset_url }}" defer></script>
{% section 'image-banner' %}
<div class="main-body page-width">

  {% render 'breadcrums' %}
  <div class="account-wrapper customer account">
    <div class="account-header">
      <div class="logo">
        {% if settings.acc-logo %}
        <img src="{{settings.acc-logo | img_url: '150x'}}" alt="account-logo">
        {% endif %}
      </div>
      <div class="account-detail">
        <span>Welcome</span>
        <span class="h1 account-name accent">{{customer.first_name}}</span>
        <span class="email">{{customer.email}}</span>
      </div>
      <div class="logout">
        <a href="{{ routes.account_logout_url }}">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" fill="none" viewBox="0 0 18 19">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6 4.5a3 3 0 116 0 3 3 0 01-6 0zm3-4a4 4 0 100 8 4 4 0 000-8zm5.58 12.15c1.12.82 1.83 2.24 1.91 4.85H1.51c.08-2.6.79-4.03 1.9-4.85C4.66 11.75 6.5 11.5 9 11.5s4.35.26 5.58 1.15zM9 10.5c-2.5 0-4.65.24-6.17 1.35C1.27 12.98.5 14.93.5 18v.5h17V18c0-3.07-.77-5.02-2.33-6.15-1.52-1.1-3.67-1.35-6.17-1.35z" fill="currentColor">
          </svg>
          {{ 'customer.log_out' | t }}
        </a>
      </div>
    </div>
    <div class="account-body">
      <div class="account-sidebar">
        <div class="order-history">
          <div class="active" data-popup-name="order-history">
            <span>Order History</span>
            
          </div>
          <div class="popup mobile open" data-popup="order-history">
            
            <div class="popup-body">
              {% paginate customer.orders by customer.orders.size %}
              {%- if customer.orders.size > 0 -%}
                <table role="table" class="order-history">
                  <caption class="visually-hidden">{{ 'customer.orders.title' | t }}</caption>
                  <thead role="rowgroup">
                    <tr role="row">
                      <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                      <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                      <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                      <th id="ColumnFulfillment" scope="col" role="columnheader">{{ 'customer.orders.fulfillment_status' | t }}</th>
                      <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                    </tr>
                  </thead>
                  <tbody role="rowgroup">
                    {%- for order in customer.orders -%}
                      <tr role="row">
                        <td
                          id="RowOrder"
                          role="cell"
                          headers="ColumnOrder"
                          data-label="{{ 'customer.orders.order_number' | t }}"
                        >
                          <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                            {{ order.name }}
                          </a>
                        </td>
                        <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                          {{ order.created_at | time_tag: format: 'date' }}
                        </td>
                        <td headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t }}">
                          {{ order.financial_status_label }}
                        </td>
                        <td headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                          {{ order.fulfillment_status_label }}
                        </td>
                        <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                          {{ order.total_price | money_with_currency }}</td>
                      </tr>
                      {% for item in order.line_items %}
                      <tr class="producct-details-accound">
                        {% if forloop.last == true %}
          
                        <td>
                          <span><img src="{{item.product.featured_image |img_url}}"></span>
                        </td>
                        <td>
                          <a href="{{ item.url }}"> {{ item.title  }}</a>
                        </td>
                        <td>
                          <div class="track-detail">
                            <span class="">Tracking Detail</span>
                            <span><strong>Courier Name </strong> :{% if item.fulfillment.tracking_company %}{{ item.fulfillment.tracking_company }}{% else %}NA{% endif %}</span>
                            <span><strong>Tracking No </strong> :{% if item.fulfillment.tracking_number %}<a href="{{ item.fulfillment.tracking_url }}" target="_blank" rel="noopener noreferrer">#{{ item.fulfillment.tracking_number }}</a>{% else %}Not Available {% endif %}</span>
                          </div>
                        </td>
                        <td class="product-item" id="product-{{item.variant.id}}">
                          <form method="post" action="/cart/add" id="add-to-cart-form" accept-charset="UTF-8" class="shopify-product-form" enctype="multipart/form-data"><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">
                            <input type="hidden" name="id" value="{{ item.variant.id }}" />
                            <a href="{{item.url}}" class="add-to-cart-btn">Buy Again</a> 
                          </form>
                        </td>
          
                        <td><a href="{{item.url}}#aproduct">Add Review</a> </td>
                        {% else %}
                        <td>
                          <span><img src="{{item.product.featured_image |img_url}}"></span>
                        </td>
                        <td>
                          <a href="{{ item.url }}">{{ item.title  }}</a>,
                        </td>
                        <td>
                          <div class="track-detail">
                            <span class="">Tracking Detail</span>
                            <span><strong>Courier Name </strong> :{% if item.fulfillment.tracking_company %}{{ item.fulfillment.tracking_company }}{% else %}NA{% endif %}</span>
                            <span><strong>Tracking No </strong> :{% if item.fulfillment.tracking_number %} <a href="{{ item.fulfillment.tracking_url }}" target="_blank" rel="noopener noreferrer"> #{{ item.fulfillment.tracking_number }}</a>{% else %}Not Available {% endif %}</span>
          
                          </div>
                        </td>
                        <td><a href="{{item.url}}" class="add-to-cart-btn">Buy Again</a> </td>
          
                        <td><a href="{{item.url}}#aproduct">Add Review</a> </td>
          
                        {% endif %}
                      </tr>
                      {% endfor %}
                    {%- endfor -%}
                  </tbody>
                </table>
              {%- else -%}
                <p>{{ 'customer.orders.none' | t }}</p>
              {%- endif -%}
            {% endpaginate %}
            </div>
          </div>
        </div>
        <div class="profile">
          <div class="" data-popup-name="profile">
            <span>Profile</span>
           
          </div>
          <div class="popup mobile" data-popup="profile">
            <div class="popup-header accent">
              <span class="h2"> Basic Information </span>
            </div>
            <div class="popup-body">
              <div class="info">
                <span class="lable">Name </span>
                <span class="details">{{customer.first_name}}</span>
              </div>
              <div class="info">
                <span class="lable">Email </span>
                <span class="details"><span>{{customer.email}}</span></span>
              </div>
              <div class="info">
                <span class="lable">Contact No </span>
                <span class="details">{{customer.phone}}</span>
              </div>
              <div class="info Adderesses">
                <span class="lable"> Adderesses </span>
                {%- if customer.addresses.size > 0 -%}
                <span class="details">
                  {% assign address = customer.default_address %}
                  
                  <div class="addresses" data-customer-addresses>
                    <svg style="display: none">
                      <symbol id="icon-caret" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </symbol>
                    </svg>
                    
                
                    <ul role="list">
                      {%- for address in customer.addresses -%}
                      {% if address == customer.default_address %}
                      <li data-address>
                       
                        <!-- <span class="accent default">{{ 'customer.addresses.default' | t }} &nbsp;</span> -->
                      
                      {{ address | format_address | replace: '<br>', ','}}
                      <button class="btnEdit"
                        type="button"
                        id="EditFormButton_{{ address.id }}"
                        aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                        aria-controls="EditAddress_{{ address.id }}"
                        aria-expanded="false"
                        data-address-id="{{ address.id }}"
                      >
                        {{ 'customer.addresses.edit' | t }}
                      </button>
                      <button class="BtnSave"
                        type="button"
                        aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                        data-target="{{ address.url }}"
                        data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                      >
                        {{ 'customer.addresses.delete' | t }}
                      </button>
                      <div id="EditAddress_{{ address.id }}">
                        <h2 class="accent">{{ 'customer.addresses.edit_address' | t }}</h2>
                        {%- form 'customer_address', address -%}
                          <div class="field">               
                            <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                            <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                          </div>
                          <div class="field">                
                            <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                            <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                          </div>
                          <div class="field">
                            <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                            <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>                
                          </div>
                          <div class="field">
                            <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                            <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>                
                          </div>
                          <div class="field">
                            <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                            <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>                
                          </div>
                          <div class="field">
                            <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                            <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>                
                          </div>
                          <div>
                            <label for="AddressCountry_{{ form.id }}">
                              {{ 'customer.addresses.country' | t }}
                            </label>
                            <div class="select">
                              <select
                                id="AddressCountry_{{ form.id }}"
                                name="address[country]"
                                data-address-country-select
                                data-default="{{ form.country }}"
                                data-form-id="{{ form.id }}"
                                autocomplete="country"
                              >
                                {{ all_country_option_tags }}
                              </select>
                              <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                <use href="#icon-caret" />
                              </svg>
                            </div>
                          </div>
                          <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                            <label for="AddressProvince_{{ form.id }}">
                              {{ 'customer.addresses.province' | t }}
                            </label>
                            <div class="select">
                              <select
                                id="AddressProvince_{{ form.id }}"
                                name="address[province]"
                                data-default="{{ form.province }}"
                                autocomplete="address-level1"
                              >
                              </select>
                              <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                <use href="#icon-caret" />
                              </svg>
                            </div>
                          </div>
                          <div class="field">                
                            <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                            <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                          </div>
                          <div class="field">                
                            <input type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                            <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                          </div>
                          <div>
                            {{ form.set_as_default_checkbox }}
                            <label for="address_default_address_{{ form.id }}">
                              {{ 'customer.addresses.set_default' | t }}
                            </label>
                          </div>
                          <div>
                            <button class="btnEdit" >{{ 'customer.addresses.update' | t }}</button>
                            <button class="BtnSave" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                          </div>
                        {%- endform -%}
                      </div>
                    </li>
                    {% endif %}
                      {% endfor %}
                      {%- for address in customer.addresses -%}
                      {% if address != customer.default_address %}
                      
                        
                      <li data-address>
                        {{ address | format_address | replace: '<br>', ','}}
                        <button class="btnEdit"
                          type="button"
                          id="EditFormButton_{{ address.id }}"
                          aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                          aria-controls="EditAddress_{{ address.id }}"
                          aria-expanded="false"
                          data-address-id="{{ address.id }}"
                        >
                          {{ 'customer.addresses.edit' | t }}
                        </button>
                        <button class="BtnSave"
                          type="button"
                          aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                          data-target="{{ address.url }}"
                          data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                        >
                          {{ 'customer.addresses.delete' | t }}
                        </button>
                        <div id="EditAddress_{{ address.id }}">
                          <h2 class="accent">{{ 'customer.addresses.edit_address' | t }}</h2>
                          {%- form 'customer_address', address -%}
                            <div class="field">               
                              <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                              <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                            </div>
                            <div class="field">                
                              <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                              <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                            </div>
                            <div class="field">
                              <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                              <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>                
                            </div>
                            <div class="field">
                              <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                              <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>                
                            </div>
                            <div class="field">
                              <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                              <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>                
                            </div>
                            <div class="field">
                              <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                              <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>                
                            </div>
                            <div>
                              <label for="AddressCountry_{{ form.id }}">
                                {{ 'customer.addresses.country' | t }}
                              </label>
                              <div class="select">
                                <select
                                  id="AddressCountry_{{ form.id }}"
                                  name="address[country]"
                                  data-address-country-select
                                  data-default="{{ form.country }}"
                                  data-form-id="{{ form.id }}"
                                  autocomplete="country"
                                >
                                  {{ all_country_option_tags }}
                                </select>
                                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                  <use href="#icon-caret" />
                                </svg>
                              </div>
                            </div>
                            <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                              <label for="AddressProvince_{{ form.id }}">
                                {{ 'customer.addresses.province' | t }}
                              </label>
                              <div class="select">
                                <select
                                  id="AddressProvince_{{ form.id }}"
                                  name="address[province]"
                                  data-default="{{ form.province }}"
                                  autocomplete="address-level1"
                                >
                                </select>
                                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                  <use href="#icon-caret" />
                                </svg>
                              </div>
                            </div>
                            <div class="field">                
                              <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                              <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                            </div>
                            <div class="field">                
                              <input type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                              <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                            </div>
                            <div>
                              {{ form.set_as_default_checkbox }}
                              <label for="address_default_address_{{ form.id }}">
                                {{ 'customer.addresses.set_default' | t }}
                              </label>
                            </div>
                            <div>
                              <button class="btnEdit">{{ 'customer.addresses.update' | t }}</button>
                              <button class="BtnSave" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                            </div>
                          {%- endform -%}
                        </div>
                      </li>
                      {% endif %}
                      {%- endfor -%}
                    </ul>
                    <div data-address>
                      <button class="btnEdit"
                        type="button"
                        aria-expanded="false"
                        aria-controls="AddAddress"
                      >
                        {{ 'customer.addresses.add_new' | t }}
                      </button>
                      <div id="AddAddress">
                        <h2 class="accent" id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>
                        {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
                          <div class="field">         
                            <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                            <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                          </div>
                          <div class="field">          
                            <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                            <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                          </div>
                          <div class="field">          
                            <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                            <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                          </div>
                          <div class="field">          
                            <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                            <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                          </div>
                          <div class="field">          
                            <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                            <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                          </div>
                          <div class="field">          
                            <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                            <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                          </div>
                          <div>
                            <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                            <div class="select">
                              <select
                                id="AddressCountryNew"
                                name="address[country]"
                                data-default="{{ form.country }}"
                                autocomplete="country"
                              >
                                {{ all_country_option_tags }}
                              </select>
                              <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                <use href="#icon-caret" />
                              </svg>
                            </div>
                          </div>
                          <div id="AddressProvinceContainerNew" style="display: none">
                            <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                            <div class="select">
                              <select
                                id="AddressProvinceNew"
                                name="address[province]"
                                data-default="{{ form.province }}"
                                autocomplete="address-level1"
                              >
                              </select>
                              <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                <use href="#icon-caret" />
                              </svg>
                            </div>
                          </div>
                          <div class="field">
                            <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                            <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                          </div>
                          <div class="field">
                            <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                            <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                          </div>
                          <div>
                            {{ form.set_as_default_checkbox }}
                            <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                          </div>
                          <div>
                            <button class="btnEdit" >{{ 'customer.addresses.add' | t }}</button>
                            <button class="BtnSave" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                          </div>
                        {%- endform -%}
                      </div>
                    </div>
                    {%- if paginate.pages > 1 -%}
                      {%- if paginate.parts.size > 0 -%}
                          <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                            <ul role="list">
                            {%- if paginate.previous -%}
                              <li>
                                <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                  </svg>
                                </a>
                              </li>
                            {%- endif -%}
                
                            {%- for part in paginate.parts -%}
                              <li>
                                {%- if part.is_link -%}
                                  <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                                {%- else -%}
                                  {%- if part.title == paginate.current_page -%}
                                    <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                                  {%- else -%}
                                    <span>{{ part.title }}</span>
                                  {%- endif -%}
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                
                            {%- if paginate.next -%}
                              <li>
                                <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                                  <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                  </svg>
                                </a>
                              </li>
                            {%- endif -%}
                            </ul>
                          </nav>
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                </span>
                {%- else -%}
                 <span> you have not added any address yet</span>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="social-login">
          <div class="" data-popup-name="social-login">
            <span>Social Login</span>
          </div>
          <div class="popup mobile" data-popup="social-login">
            <div class="popwrapper">
              <div class="iconwrapper">
                <div class="img">
                  <img src="{{settings.account-icon-google | img_url: 'master'}}" alt="social-icon">
                  <p>Google</p>
                </div>
                <div class="img">
                  <img src="{{settings.account-icon-fb | img_url: 'master'}}" alt="social-icon">
                  <p>Facebook</p>
                </div>
              </div>
            </div>
        </div>
        </div> -->
       <div class="change-password">
        <div class="" data-popup-name="change-password">
          <span class="">Change Password</span>
        </div>
        <div class="popup mobile" data-popup="change-password">
          {{ 'customer.css' | asset_url | stylesheet_tag }}
          <!-- <div class="popup-header accent">
            <span class="h2"> Change Password </span>
          </div> -->
          <div class="popup-body">
            <div class="customer reset-password">
              <svg style="display: none">
                <symbol id="icon-error" viewBox="0 0 13 13">
                  <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                  <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                  <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                  <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                </symbol>
              </svg>
             
              <!-- <p>
                {{ 'customer.reset_password.subtext' | t: email: email }}
              </p> -->
              {%- form 'reset_customer_password' -%}
                {%- if form.errors -%}
                  <h2 class="form__message" tabindex="-1" autofocus>
                    <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
                    <svg aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-error" />
                    </svg>
                    {{ 'templates.contact.form.error_heading' | t }}
                  </h2>
                  <ul>
                    {%- for field in form.errors -%}
                      <li>
                        {%- if field == 'form' -%}
                          {{ form.errors.messages[field] }}
                        {%- else -%}
                          <a href="#{{ field }}">
                            {{ form.errors.translated_fields[field] | capitalize }}
                            {{ form.errors.messages[field] }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
  <div class="passcahnge">
    <div class="field_wrapper">
     <p>Old Password</p>    
     <div class="field">  
       <input
         type="password"
         name="customer[password]"
         id="password"
         autocomplete="new-password"
         {% if form.errors contains 'password' %}
           aria-invalid="true"
           aria-describedby="password-error"
         {% endif %}
         placeholder="{{ 'customer.reset_password.password' | t }}"
       >
       <label for="password">
         {{ 'customer.reset_password.password' | t }}
       </label>
       {%- if form.errors contains 'password' -%}
         <small id="password-error" class="form__message">
           <svg aria-hidden="true" focusable="false" role="presentation">
             <use href="#icon-error" />
           </svg>
           {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
         </small>
       {%- endif -%}
     </div>
    </div>
    <div class="field_wrapper">
     <p>New Password</p>    
     <div class="field">  
       <input
         type="password"
         name="customer[password_confirmation]"
         id="password_confirmation"
         autocomplete="new-password"
         {% if form.errors contains 'password_confirmation' %}
           aria-invalid="true"
           aria-describedby="password_confirmation-error"
         {% endif %}
         placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
       >
       <label for="password_confirmation">
         {{ 'customer.reset_password.password_confirm' | t }}
       </label>
       {%- if form.errors contains 'password_confirmation' -%}
         <small id="password_confirmation-error" class="form__message">
           <svg aria-hidden="true" focusable="false" role="presentation">
             <use href="#icon-error" />
           </svg>
           {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
         </small>
       {%- endif -%}
     </div>
    </div>
  </div>
    


  
                <button class="btnEdit">
                  {{ 'customer.reset_password.submit' | t }}
                </button>
              {%- endform -%}
            </div>
          </div>
        </div>
       </div>
       <div class="wishlist">
        <div class="" data-popup-name="wishlist">
          <span>Wishlist</span>
        </div>

       </div>
        <div class="gift-card">
          <div class="" data-popup-name="gift-card">
            <span>Gift Card</span>
          </div>
        </div>
        <div class="wallet">
          <div class="" data-popup-name="wallet">
            <span>Wallet</span>
          </div>
        </div>
        <div class="whatsapp">

          <div class="" data-popup-name="whatsapp">
            <span>Wahtsapp</span>
          </div>
        </div>
      </div>
      <div class="account-main-body">
        <div class="popup open" data-popup="order-history">
         
          <div class="popup-body">
            {% paginate customer.orders by customer.orders.size %}
            {%- if customer.orders.size > 0 -%}
            <table class="head-table">
              <thead role="rowgroup">
                <tr role="row">
                  <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                  <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                  <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                  <th id="ColumnFulfillment" scope="col" role="columnheader">{{ 'customer.orders.fulfillment_status' | t }}</th>
                  <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                </tr>
              </thead>
            </table>
              <table role="table" class="order-history">
  
                
                <tbody role="rowgroup">
                  {%- for order in customer.orders -%}
                    <tr role="row">
                      <td
                        id="RowOrder"
                        role="cell"
                        headers="ColumnOrder"
                        data-label="{{ 'customer.orders.order_number' | t }}"
                      >
                        <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                          {{ order.name }}
                        </a>
                      </td>
                      <td id="row-date" headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                        {{ order.created_at | time_tag: format: 'date' }}
                      </td>
                      <td id="row-payment" headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t }}">
                        {{ order.financial_status_label }}
                      </td>
                      <td id="row-fulfillment" headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                        {{ order.fulfillment_status_label }}
                      </td>
                      <td id="row-total" headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                        {{ order.total_price | money_with_currency }}</td>
                    </tr>
                    {% for item in order.line_items %}
                    <tr class="producct-details-accound">
                      {% if forloop.last == true %}
        
                      <td>
                        <span><img src="{{item.product.featured_image |img_url}}"></span>
                      </td>
                      <td>
                        <a href="{{ item.url }}"> {{ item.title  }}</a>
                      </td>
                      <td>
                        <div class="track-detail">
                          <span class="">Tracking Detail</span>
                          <span><strong>Courier Name </strong> :{% if item.fulfillment.tracking_company %}{{ item.fulfillment.tracking_company }}{% else %}NA{% endif %}</span>
                          <span><strong>Tracking No </strong> :{% if item.fulfillment.tracking_number %}<a href="{{ item.fulfillment.tracking_url }}" target="_blank" rel="noopener noreferrer">#{{ item.fulfillment.tracking_number }}</a>{% else %}Not Available {% endif %}</span>
                        </div>
                      </td>
                      <td class="product-item" id="product-{{item.variant.id}}">
                        <form method="post" action="/cart/add" id="add-to-cart-form" accept-charset="UTF-8" class="shopify-product-form" enctype="multipart/form-data"><input type="hidden" name="form_type" value="product"><input type="hidden" name="utf8" value="✓">
                          <input type="hidden" name="id" value="{{ item.variant.id }}" />
                          <a href="{{item.url}}" class="add-to-cart-btn">Buy Again</a> 
                        </form>
                      </td>
        
                      <td><a href="{{item.url}}#aproduct">Add Review</a> </td>
                      {% else %}
                      <td>
                        <span><img src="{{item.product.featured_image |img_url}}"></span>
                      </td>
                      <td>
                        <a href="{{ item.url }}">{{ item.title  }}</a>,
                      </td>
                      <td>
                        <div class="track-detail">
                          <span class="">Tracking Detail</span>
                          <span><strong>Courier Name </strong> :{% if item.fulfillment.tracking_company %}{{ item.fulfillment.tracking_company }}{% else %}NA{% endif %}</span>
                          <span><strong>Tracking No </strong> :{% if item.fulfillment.tracking_number %} <a href="{{ item.fulfillment.tracking_url }}" target="_blank" rel="noopener noreferrer"> #{{ item.fulfillment.tracking_number }}</a>{% else %}Not Available {% endif %}</span>
        
                        </div>
                      </td>
                      <td><a href="{{item.url}}" class="add-to-cart-btn">Buy Again</a> </td>
        
                      <td><a href="{{item.url}}#aproduct">Add Review</a> </td>
        
                      {% endif %}
                    </tr>
                    {% endfor %}
                  {%- endfor -%}
                </tbody>
              </table>
            {%- else -%}
              <p>{{ 'customer.orders.none' | t }}</p>
            {%- endif -%}
          {% endpaginate %}
          </div>
        </div>
        <div class="popup" data-popup="social-login">
            <div class="popwrapper">
              <div class="iconwrapper">
                <div class="img">
                  <img src="{{settings.account-icon-google | img_url: 'master'}}" alt="social-icon">
                  <p>Google</p>
                </div>
                <div class="img">
                  <img src="{{settings.account-icon-fb | img_url: 'master'}}" alt="social-icon">
                  <p>Facebook</p>
                </div>
              </div>
            </div>
        </div>
        <div class="popup" data-popup="change-password">
          {{ 'customer.css' | asset_url | stylesheet_tag }}
          <div class="popup-header accent">
            <span class="h2"> Change Password </span>
          </div>
          <div class="popup-body">
            <div class="customer reset-password">
              <svg style="display: none">
                <symbol id="icon-error" viewBox="0 0 13 13">
                  <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                  <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                  <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                  <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                </symbol>
              </svg>
             
              <!-- <p>
                {{ 'customer.reset_password.subtext' | t: email: email }}
              </p> -->
              {%- form 'reset_customer_password' -%}
                {%- if form.errors -%}
                  <h2 class="form__message" tabindex="-1" autofocus>
                    <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
                    <svg aria-hidden="true" focusable="false" role="presentation">
                      <use href="#icon-error" />
                    </svg>
                    {{ 'templates.contact.form.error_heading' | t }}
                  </h2>
                  <ul>
                    {%- for field in form.errors -%}
                      <li>
                        {%- if field == 'form' -%}
                          {{ form.errors.messages[field] }}
                        {%- else -%}
                          <a href="#{{ field }}">
                            {{ form.errors.translated_fields[field] | capitalize }}
                            {{ form.errors.messages[field] }}
                          </a>
                        {%- endif -%}
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
  <div class="passcahnge">
    <div class="field_wrapper">
     <p>Old Password</p>    
     <div class="field">  
       <input
         type="password"
         name="customer[password]"
         id="password"
         autocomplete="new-password"
         {% if form.errors contains 'password' %}
           aria-invalid="true"
           aria-describedby="password-error"
         {% endif %}
         placeholder="{{ 'customer.reset_password.password' | t }}"
       >
       <label for="password">
         {{ 'customer.reset_password.password' | t }}
       </label>
       {%- if form.errors contains 'password' -%}
         <small id="password-error" class="form__message">
           <svg aria-hidden="true" focusable="false" role="presentation">
             <use href="#icon-error" />
           </svg>
           {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
         </small>
       {%- endif -%}
     </div>
    </div>
    <div class="field_wrapper">
     <p>New Password</p>    
     <div class="field">  
       <input
         type="password"
         name="customer[password_confirmation]"
         id="password_confirmation"
         autocomplete="new-password"
         {% if form.errors contains 'password_confirmation' %}
           aria-invalid="true"
           aria-describedby="password_confirmation-error"
         {% endif %}
         placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
       >
       <label for="password_confirmation">
         {{ 'customer.reset_password.password_confirm' | t }}
       </label>
       {%- if form.errors contains 'password_confirmation' -%}
         <small id="password_confirmation-error" class="form__message">
           <svg aria-hidden="true" focusable="false" role="presentation">
             <use href="#icon-error" />
           </svg>
           {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
         </small>
       {%- endif -%}
     </div>
    </div>
  </div>
    


  
                <button class="btnEdit">
                  {{ 'customer.reset_password.submit' | t }}
                </button>
              {%- endform -%}
            </div>
          </div>
        </div>
        <div class="popup" data-popup="profile">
          <div class="popup-header accent">
            <span class="h2"> Basic Information </span>
          </div>
          <div class="popup-body">
            <div class="info">
              <span class="lable">Name </span>
              <span class="details">{{customer.first_name}}</span>
            </div>
            <div class="info">
              <span class="lable">Email </span>
              <span class="details"><span>{{customer.email}}</span></span>
            </div>
            <div class="info">
              <span class="lable">Contact No </span>
              <span class="details">{{customer.phone}}</span>
            </div>
            <div class="info">
              <span class="lable"> Adderesses </span>
              {%- if customer.addresses.size > 0 -%}
              <span class="details">
                {% assign address = customer.default_address %}
                
                <div class="addresses" data-customer-addresses>
                  <svg style="display: none">
                    <symbol id="icon-caret" viewBox="0 0 10 6">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                    </symbol>
                  </svg>
                  
              
                  <ul role="list">
                    {%- for address in customer.addresses -%}
                    {% if address == customer.default_address %}
                    <li data-address>
                     
                      <!-- <span class="accent default">{{ 'customer.addresses.default' | t }} &nbsp;</span> -->
                    
                    {{ address | format_address | replace: '<br>', ','}}
                    <button class="btnEdit"
                      type="button"
                      id="EditFormButton_{{ address.id }}"
                      aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                      aria-controls="EditAddress_{{ address.id }}"
                      aria-expanded="false"
                      data-address-id="{{ address.id }}"
                    >
                      {{ 'customer.addresses.edit' | t }}
                    </button>
                    <button class="BtnSave"
                      type="button"
                      aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                      data-target="{{ address.url }}"
                      data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                    >
                      {{ 'customer.addresses.delete' | t }}
                    </button>
                    <div id="EditAddress_{{ address.id }}">
                      <h2 class="accent">{{ 'customer.addresses.edit_address' | t }}</h2>
                      {%- form 'customer_address', address -%}
                        <div class="field">               
                          <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                          <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                        </div>
                        <div class="field">                
                          <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                          <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                        </div>
                        <div class="field">
                          <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                          <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>                
                        </div>
                        <div class="field">
                          <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                          <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>                
                        </div>
                        <div class="field">
                          <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                          <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>                
                        </div>
                        <div class="field">
                          <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                          <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>                
                        </div>
                        <div>
                          <label for="AddressCountry_{{ form.id }}">
                            {{ 'customer.addresses.country' | t }}
                          </label>
                          <div class="select">
                            <select
                              id="AddressCountry_{{ form.id }}"
                              name="address[country]"
                              data-address-country-select
                              data-default="{{ form.country }}"
                              data-form-id="{{ form.id }}"
                              autocomplete="country"
                            >
                              {{ all_country_option_tags }}
                            </select>
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                              <use href="#icon-caret" />
                            </svg>
                          </div>
                        </div>
                        <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                          <label for="AddressProvince_{{ form.id }}">
                            {{ 'customer.addresses.province' | t }}
                          </label>
                          <div class="select">
                            <select
                              id="AddressProvince_{{ form.id }}"
                              name="address[province]"
                              data-default="{{ form.province }}"
                              autocomplete="address-level1"
                            >
                            </select>
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                              <use href="#icon-caret" />
                            </svg>
                          </div>
                        </div>
                        <div class="field">                
                          <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                          <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                        </div>
                        <div class="field">                
                          <input type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                          <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                        </div>
                        <div>
                          {{ form.set_as_default_checkbox }}
                          <label for="address_default_address_{{ form.id }}">
                            {{ 'customer.addresses.set_default' | t }}
                          </label>
                        </div>
                        <div>
                          <button class="btnEdit" >{{ 'customer.addresses.update' | t }}</button>
                          <button class="BtnSave" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                        </div>
                      {%- endform -%}
                    </div>
                  </li>
                  {% endif %}
                    {% endfor %}
                    {%- for address in customer.addresses -%}
                    {% if address != customer.default_address %}
                    
                      
                    <li data-address>
                      {{ address | format_address | replace: '<br>', ','}}
                      <button class="btnEdit"
                        type="button"
                        id="EditFormButton_{{ address.id }}"
                        aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                        aria-controls="EditAddress_{{ address.id }}"
                        aria-expanded="false"
                        data-address-id="{{ address.id }}"
                      >
                        {{ 'customer.addresses.edit' | t }}
                      </button>
                      <button class="BtnSave"
                        type="button"
                        aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                        data-target="{{ address.url }}"
                        data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}"
                      >
                        {{ 'customer.addresses.delete' | t }}
                      </button>
                      <div id="EditAddress_{{ address.id }}">
                        <h2 class="accent">{{ 'customer.addresses.edit_address' | t }}</h2>
                        {%- form 'customer_address', address -%}
                          <div class="field">               
                            <input type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                            <label for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                          </div>
                          <div class="field">                
                            <input type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                            <label for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                          </div>
                          <div class="field">
                            <input type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                            <label for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>                
                          </div>
                          <div class="field">
                            <input type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                            <label for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>                
                          </div>
                          <div class="field">
                            <input type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                            <label for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>                
                          </div>
                          <div class="field">
                            <input type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                            <label for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>                
                          </div>
                          <div>
                            <label for="AddressCountry_{{ form.id }}">
                              {{ 'customer.addresses.country' | t }}
                            </label>
                            <div class="select">
                              <select
                                id="AddressCountry_{{ form.id }}"
                                name="address[country]"
                                data-address-country-select
                                data-default="{{ form.country }}"
                                data-form-id="{{ form.id }}"
                                autocomplete="country"
                              >
                                {{ all_country_option_tags }}
                              </select>
                              <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                <use href="#icon-caret" />
                              </svg>
                            </div>
                          </div>
                          <div id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                            <label for="AddressProvince_{{ form.id }}">
                              {{ 'customer.addresses.province' | t }}
                            </label>
                            <div class="select">
                              <select
                                id="AddressProvince_{{ form.id }}"
                                name="address[province]"
                                data-default="{{ form.province }}"
                                autocomplete="address-level1"
                              >
                              </select>
                              <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                <use href="#icon-caret" />
                              </svg>
                            </div>
                          </div>
                          <div class="field">                
                            <input type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                            <label for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                          </div>
                          <div class="field">                
                            <input type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                            <label for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                          </div>
                          <div>
                            {{ form.set_as_default_checkbox }}
                            <label for="address_default_address_{{ form.id }}">
                              {{ 'customer.addresses.set_default' | t }}
                            </label>
                          </div>
                          <div>
                            <button class="btnEdit">{{ 'customer.addresses.update' | t }}</button>
                            <button class="BtnSave" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                          </div>
                        {%- endform -%}
                      </div>
                    </li>
                    {% endif %}
                    {%- endfor -%}
                  </ul>
                  <div data-address>
                    <button class="btnEdit"
                      type="button"
                      aria-expanded="false"
                      aria-controls="AddAddress"
                    >
                      {{ 'customer.addresses.add_new' | t }}
                    </button>
                    <div id="AddAddress">
                      <h2 class="accent" id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h2>
                      {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
                        <div class="field">         
                          <input type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                          <label for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                        </div>
                        <div class="field">          
                          <input type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                          <label for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                        </div>
                        <div class="field">          
                          <input type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                          <label for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                        </div>
                        <div class="field">          
                          <input type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                          <label for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                        </div>
                        <div class="field">          
                          <input type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                          <label for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                        </div>
                        <div class="field">          
                          <input type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                          <label for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                        </div>
                        <div>
                          <label for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                          <div class="select">
                            <select
                              id="AddressCountryNew"
                              name="address[country]"
                              data-default="{{ form.country }}"
                              autocomplete="country"
                            >
                              {{ all_country_option_tags }}
                            </select>
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                              <use href="#icon-caret" />
                            </svg>
                          </div>
                        </div>
                        <div id="AddressProvinceContainerNew" style="display: none">
                          <label for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                          <div class="select">
                            <select
                              id="AddressProvinceNew"
                              name="address[province]"
                              data-default="{{ form.province }}"
                              autocomplete="address-level1"
                            >
                            </select>
                            <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                              <use href="#icon-caret" />
                            </svg>
                          </div>
                        </div>
                        <div class="field">
                          <input type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                          <label for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                        </div>
                        <div class="field">
                          <input type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                          <label for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                        </div>
                        <div>
                          {{ form.set_as_default_checkbox }}
                          <label for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                        </div>
                        <div>
                          <button class="btnEdit" >{{ 'customer.addresses.add' | t }}</button>
                          <button class="BtnSave" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                        </div>
                      {%- endform -%}
                    </div>
                  </div>
                  {%- if paginate.pages > 1 -%}
                    {%- if paginate.parts.size > 0 -%}
                        <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
                          <ul role="list">
                          {%- if paginate.previous -%}
                            <li>
                              <a href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                </svg>
                              </a>
                            </li>
                          {%- endif -%}
              
                          {%- for part in paginate.parts -%}
                            <li>
                              {%- if part.is_link -%}
                                <a href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                              {%- else -%}
                                {%- if part.title == paginate.current_page -%}
                                  <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                                {%- else -%}
                                  <span>{{ part.title }}</span>
                                {%- endif -%}
                              {%- endif -%}
                            </li>
                          {%- endfor -%}
              
                          {%- if paginate.next -%}
                            <li>
                              <a href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                                </svg>
                              </a>
                            </li>
                          {%- endif -%}
                          </ul>
                        </nav>
                    {%- endif -%}
                  {%- endif -%}
                </div>
              </span>
              {%- else -%}
               <span> you have not added any address yet</span>
              {%- endif -%}
            </div>
          </div>
        </div>
        <div class="popup" data-popup="wishlist">
          {{ pages['wishlist'].content }}
        </div>
        <div class="popup" data-popup="whatsapp">
          <div class="popup-header accent">
            <span class="h2"> {{settings.login-whatsapp-tab-title | default: "Chat With Us On Below Link"}} </span>
          </div>
          <div class="popup-body">
            <a href="https://api.whatsapp.com/send/?phone=91{{settings.login-whatsapp-number | default:"9953851940" }}&text={{settings.login-whatsapp-massage | default:"hello" }}&app_absent=0" target="_Blank">Chat With Us On Whatsapp</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.onload = () => {
    typeof CustomerAddresses !== 'undefined' && new CustomerAddresses();
  }
</script>
{% section 'recently-viewed-products' %}
