<!-- start section background-with-images -->
<section class="section-{{section.id}}">
  <div class="image-with-text  color-scheme-background-1">
      <div class="page-width">
        {% if section.settings.heading != blank %}
          <div class="heading">
            <h2 class="title">{{ section.settings.heading}}</h2>
          </div>
        {% endif %}
        
        <div class="grid grid-3">
          {% for block in section.blocks %}
          <div class="grid-1">
            {% if block.settings.image != blank %}
            <div class="grid-up"><img src="{{ block.settings.image | img_url:'200x200' }}" class="small-img"></div>
            
            <div class="grid-down">
              <span>{{ block.settings.title}}</span>
              <p>{{ block.settings.description }}</p>
            </div>
            {% endif %}
          </div>
           {% endfor %}
        </div> 
       
      </div>
  </div>
</section>
<!-- End section background-with-images -->


{% schema %}
  {
    "name": "bg with images",
    "settings": [
					{
                      "id": "background-image",
                      "type": "image_picker",
                      "label": "Choose images for background"
                    },
					{
                      "id": "heading",
                      "type": "text",
                      "label": "Enter heading"
                    }

				],
"blocks":[
          {
            "type":"image",
            "name":"image-block",
			"limit":3,
            "settings":[
							{
                              "id":"image",
                              "type":"image_picker",
                              "label":"your image"
                            },
							{
                              "id":"title",
                              "type":"html",
                              "label":"your title"
                            },
							{
                              "id":"description",
                              "type":"html",
                              "label":"your description"
                            }
          				]
          }
        ],
"presets": [
{
"name": "bg with images",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

<style>
  {% if section.settings.background-image != blank %}
  .section-{{section.id}} .image-with-text{
    background-image:url({{section.settings.background-image | img_url: 'master'}});
    background-position: center center;
    background-size: cover;
  }
  {% endif %}
  .section-{{section.id}} h2.title{
  	text-align:center;
    padding-top: 15px;
  }
  .section-{{section.id}} .grid.grid-3{
  	width:80%;
    margin:auto;
    text-align:center;
  }
  .section-{{section.id}} .grid-1 {
    width: 33%;
}
  .section-{{section.id}} .small-img{
  	height:120px;
  } 
  .section-{{section.id}} .heading .title:after{
    content: '';
    display: block;
    margin: .25em auto 0;
    width: 100px;
    border-top: 3px solid #B84D1D;
  }
  .section-{{section.id}} .grid-down span h3 {
    color: white;
    font-weight: 600;
}
  .section-{{section.id}} .grid-down p {
    color: white;
}
</style>
