<!-- start section banner-with-text-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{{ 'section-best-sellers.css' | asset_url | stylesheet_tag }}
<section class="section-{{ section.id }} page-width best-seller pppppp {% if template contains 'product' %}best-seller-product{% endif %} {% if template.name == '404' %}best-seller-index{% endif %}">
  
<div class="heading">
    <h2 class="section-title title">{{section.settings.section-heading}}</h2></div>
<div class="best-seller-nav grid" >
{%- for block in section.blocks -%}
  <span class="best-seller-nav-item {% if forloop.first %}add-border{% endif %} " data-index="{{forloop.index}}"><div class="wrap-item">
    {% if block.settings.title == blank %}
    {% assign handle = block.settings.collection %}
    {{collections[handle].title}}
{% else %}
    {{block.settings.title}}
{% endif %}
  </div> </span>  
{%- endfor -%}
</div>
<div class="best-seller-collection-grid-wrapper ">
{%- for block in section.blocks -%}
    {% case block.type %}
      {% when 'collection' %}
      {%- if block.settings.collection != blank -%}
      {% assign handle = block.settings.collection %} 
      {%- assign seller_collection = collections[handle] -%}
  <div class="collection-grid-wrapper" data-index="{{forloop.index}}">
      <div class="grid grid--2-col grid--3-col-tablet grid--4-col-desktop" >
      {%- for product in seller_collection.products  limit:8 -%}
      <div class="grid__item full-product">
        
       {% render 'product-card',
              product_card_product: product,
              media_size: 'square',
              show_secondary_image: false,
              add_image_padding: false,
              show_vendor: false
            %}
        {% unless template contains 'product' %}
            <div class="price"  id="price-{{ section.id }}">
              {% if product.compare_at_price_min > product.price_min %}
              <span class="price-compare"> 
                {{product.compare_at_price_min | money}}
              </span>  
              {% endif %}
              <span class="price-main"> 
                {{product.price_min | money}}
              </span>
            </div>
        {% endunless %}
        
        {% capture the_snippet_review_avg %}{% render 'ssw-widget-avg-rate-profile'  %}{% endcapture %}
        {% unless the_snippet_review_avg contains 'Liquid error' %}
        {{ the_snippet_review_avg }}
        {% endunless %}

        {% capture the_snippet_review_avg %}{% render 'ssw-widget-avg-rate-profile'  %}{% endcapture %}
        {% unless the_snippet_review_avg contains 'Liquid error' %}
        {{ the_snippet_review_avg }}
        {% endunless %}

        {% unless template contains 'product' %}
            <div class="add-btn Amit"><a href="{{product.url}}">Add to cart</a></div>
        {% endunless %}
         </div> 
      {%- endfor -%} 
      </div> 
       
</div>      
  {%- endif -%}
    {% endcase %}
{%- endfor -%}
</div>
</section>
<!-- End section banner-with-text-->


{% schema %}
  {
    "name": "Best Seller",
    "class":"best-seller spaced-section",
    "settings": [
					{
                      "id": "section-heading",
                      "type": "text",
                      "label": "Best Sellers"
                    }
				],
"blocks":[
{
  "type": "@app"
},
{
      "type": "collection",
      "name": "title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Collection",
          "label": "title"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "choose collection",
            "info": "choose collection hear form which products will be shown "
        }
      ]
    }
  ],
"presets": [
    {
        "name": "Best Seller",
        "category":"slider"

    }
  ]
}
{% endschema %}

{% stylesheet %}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
