{{ 'section-faq-bottom-links.css' | asset_url | stylesheet_tag }}
<script>
  $(document).ready(function(){
     var url = window.location.href;
    var urlType = url.split('#')[1];
    if(urlType == 'contact' ){
      $('html, body').animate({scrollTop: $('#faq_bottom-links').offset().top - 250}, 1000);
    }
    
    $('.header__inline-menu a.header__menu-item').click(function(){
      var urlV = $(this).attr('href');
      var urlTypeV = urlV.split('#')[1];
      if(urlTypeV == 'contact' ){
        $('html, body').animate({scrollTop: $('#faq_bottom-links').offset().top - 250}, 1000);
      }
    });
  });
</script>
<div id="faq_bottom-links" class="section-wrapper">
    {% if section.settings.title != blank %}
        <div class="section-title">
            <h3>{{section.settings.title}}</h3>
        </div>
    {% endif %}
    
    <div class="grid grid--3-col-desktop  grid--2-teblet grid--1-col bottom-wrapper">
      {% for block in section.blocks %}
      {% assign form_type = block.settings.form_type %}
      {% assign form_title = block.settings.form-title %}
      {% assign form_subheading = block.settings.form-subheading %}
      <div class="grid__item bottom-card">
        <div class="img-container">
            <div class="img-layer">
                <img src="{{block.settings.bg_img | img_url: 'medium'}}" alt="backgroung">
            </div>

            <div class="text-layer  {% if block.settings.show-feedback %}with-feedback{% endif %}">
              {% if block.settings.show-feedback %}
              <div class="feddback-wrapper">
                <div class="feeback">
                  <input type="checkbox" checked><span>Excellent</span>
                </div>
                <div class="feeback">
                  <input type="checkbox"><span>Good</span>
                  
                </div>
                <div class="feeback">

                  <input type="checkbox"><span>Average</span>
                </div>
                <div class="feeback">

                  <input type="checkbox"><span>Poor</span>
                </div>
              </div>
              {% endif %}
                <div class="cart-title">
                    <h2>{{block.settings.title}}</h2>
                </div>
                <a href="{{block.settings.url}}" class="card-btn">
                    <span class="text">{{block.settings.btn_text}}</span>
                </a>
            </div>
        </div>

        <!-- contact form -->
       
        <div class="popup-layer contact-us">
          <div class="overlay">
            
          </div>
          <div class="popup {{form_type}}">
            <div class="form-contact">{% include 'contact-form' ,sectionTitle:form_title,type:form_type,subHeading:form_subheading %}</div>
            <!-- <div class="form-career">
              {formbuilder:65263}
            </div> -->
          </div>
        </div>
        <!-- contact form -->
    </div>
          
      {% endfor %}
    </div>
   
</div>

{% schema %}
{
  "name": "social connect",
  "class": "spaced-section",
  "settings":[
    {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Social Connect"
        
    }
    

  ],
  "blocks": [
  {
    "type": "bottom-card",
    "name": "Bottom Card",
    "limit": 3,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Block Title"
      },
      {
          "type": "image_picker",
          "id": "bg_img",
          "label": "Background Image"
      },
      {
          "type": "url",
          "id": "url",
          "label": "Button Url"
      },
      {
        "type": "checkbox",
        "id": "show-feedback",
        "label": "Show Feedback"
      },
      {
          "type": "text",
          "id": "btn_text",
          "label": "Button Text"
      },{
        "type": "header",
        "content": "Form"
      },
      {
        "type": "text",
        "id": "form-title",
        "label": "Form Title"
        
      },
      {
        "type": "text",
        "id": "form-subheading",
        "label": "Form Sub Heading"
        
      },      
      {
        "type": "select",
        "id": "form_type",
        "label": "form_type",
        "options": [
          {
            "value": "contact",
            "label": "Contact"
           
          },
          {
            "value": "careers",
            "label": "Career"
           
          },
          {
            "value": "feedback",
            "label": "Feedback"
           
          }
        ]
      }
    ]
  }
]
}
{% endschema %}