


<style>
    .slide-content-wrapper *{
    color: #fff;
}
@media (min-width:768px) {
    .banner-mobile{
        display: none;
    }
}
@media (max-width:768px) {
    .banner-slide .banner{
        display: none;
    }
}
.slide-wrapper .slick-dots{
    position: absolute;
    width: 100vw;
    bottom: 15px;
    padding: 0;
    line-height: 1;
    margin: 0;
}
.slide-wrapper .slick-dots li{
    height: 10px;
}
.slide-wrapper{
display: flex;
min-height: calc(100vh - 102px);
text-align: center;
transition: all 0.4s ease-in-out;
background-size: cover;
}
@media (min-width:768px){

  
.banner-slide{
    display: flex;
    flex: 1;
    align-items: flex-end;
    background-image: none !important;
}
.banner-slide:hover{
    background-color:rgba(0,0,0,0.5);
}

.slide-wrapper .banner-slide{
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    position: relative;
}
.banner-slide img{
    opacity: 0;
    display: none;
}
.slide-wrapper .banner-slide:first-child{
    border-left:0;
}
.slide-content-wrapper{
    /* margin: auto; */
    padding: 15px;
    transform: translateY(20px);
    transition: all 0.4s ease-in-out;
    opacity: 0.8;
}


.banner-slide:hover .slide-content-wrapper{
transform: translateY(-20px);
opacity: 1;
}

}
@media (max-width:767px){
    .slide-wrapper .slick-slide img{
    width: 100%;
    display: none;
}
.slide-wrapper{
    min-height:calc(100vh - 120px);
}

.slide-content-wrapper{
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 50%;
width: 100%;
padding: 0 20px;
    transform: translateX(-50%);
}
.slide-wrapper .banner-slide{
    position: relative;
    min-height:calc(100vh - 120px);
    background-size: cover;
    background-position: center;
}
.slide-content-wrapper{
    opacity:1;
}
}
.scroll-icon{
    position: absolute;
    text-align: 0;
    bottom: 0;
    left: calc(50% - 15px);
    line-height: 1;
    cursor: pointer;
}
@media (max-width:767px) {
    .scroll-icon{  display: none;}
}
.home-main-wrapper{
    position: relative;
}
.bloop {
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    animation: bloop 1.8s infinite;
    -webkit-animation: bloop 1.8s infinite;
}
@keyframes bloop {
    20%, 30%, 40%, 50%, 60%, 0%, 100% {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
15% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-out;
    -webkit-transform: translate3d(0,-12px,0);
    transform: translate3d(0,-12px,0);
}
25% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translate3d(0,6px,0);
    transform: translate3d(0,6px,0);
}
35% {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-out;
    -webkit-transform: translate3d(0,-3px,0);
    transform: translate3d(0,-3px,0);
}
45% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-in;
    -webkit-transform: translate3d(0,2px,0);
    transform: translate3d(0,2px,0);
}
}
@media (max-width:448px){

    .slide-wrapper .banner-slide,.slide-wrapper{

        min-height: calc(100vh - 142px);
    }
}
@media (max-width:413px){

    .slide-wrapper .banner-slide,.slide-wrapper{

        min-height: calc(100vh - 160px);
    }
}
</style>
<script>
$(document).ready(function(){
    $('.scroll-icon').click(function () {
        var offset = $(this).closest(".home-banner-section").next().offset();
$('html, body').animate({
    scrollTop: (offset.top - 100),
    scrollLeft: offset.left
}, 1000);
    })
    // adding slider to mobile and tab view
if($(window).width() < 768){

    $('.slide-wrapper').slick({
          arrows: false,
          infinite: true,
          dots:true,
          speed: 300,
          nextArrow: '<span  class="slick-next"><i class="fa fa-angle-right" aria-hidden="true"></i></span>',
          prevArrow: '<span  class="slick-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></span>',
          slidesToShow: 1,
          slidesToScroll: 1
      });
}else{
    // changing bg on hover over slide
var bgDefault = $('.slide-wrapper .banner-slide:first-child').attr('data-bg');
$('.slide-wrapper').css('background-image','url(' + bgDefault + ')')
$('.banner-slide').hover(function(){
    var bg = $(this).attr('data-bg');
    $(this).addClass('active');
    $(this).find('.slide-content-wrapper').addClass('active')
    $('.slide-wrapper').css('background-image','url(' + bg + ')');
    
},function(){
    $(this).removeClass('active');
    $(this).find('.slide-content-wrapper').removeClass('active') 
    $('.slide-wrapper').removeClass('active');
})
}

})

</script>



  <div class="home-main-wrapper">
      <div class="slide-wrapper">
         
          {% for block in section.blocks %}
          {%- assign bg = block.settings.slide-bg | img_url: 'master' -%}
          {%- assign bgMobile = block.settings.slide-bg-mobile | img_url: 'master' -%}
          <div class="banner-slide" 
          {% if block.settings.slide-bg != blank %}
          data-bg="{{bg}}"{% endif %}
          style="background-image: url({{bg}});">
          <img class="banner" src="{{bg}}" alt="banner">
          <img class="banner-mobile" src="{{bgMobile}}" alt="banner mobile">
        <div class="slide-content-wrapper">
            <h2 class="slide-title">{{block.settings.title}}</h2>
            <p class="slide-desc">
                {{block.settings.description}}
            </p>
        </div>
        </div>
              
          {% endfor %}
      </div>
      <div class="scroll-icon bloop">
        <span class="scroll_icon ">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="30" height="30"
            viewBox="0 0 172 172"
            style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M17.2,68.8v-11.46667c0,-2.21307 1.27853,-4.2312 3.27947,-5.18293c2.00093,-0.95173 4.3688,-0.65933 6.0888,0.74533l59.43173,48.63013l59.43747,-48.63013c1.71427,-1.40467 4.08213,-1.69133 6.0888,-0.74533c2.00667,0.946 3.27373,2.96987 3.27373,5.18293v11.46667c0,1.72 -0.774,3.34827 -2.10413,4.4376l-63.06667,51.6c-2.1156,1.72573 -5.14853,1.72573 -7.26413,0l-63.06667,-51.6c-1.3244,-1.08933 -2.0984,-2.7176 -2.0984,-4.4376z"></path></g></g></svg>
          </span>
      </div>
  </div>
  


{% javascript %}
  
{% endjavascript %}
{% schema %}
{
  "name": "Home Banner",
  "class": "home-banner-section",
  "settings": [
{
    "type": "text",
    "id": "title",
    "label": "Section",
    "default": "Home Banner"
}
  ],
  "max_blocks": 5,
  "blocks":[
  {      
"name": "slide",
"type": "slide",
"settings": [
    {
        "type": "text",
        "id": "title",
        "label": "title"
    },
    {
        "type": "image_picker",
        "id": "slide-bg",
        "label": "slide image"
    },
    {
        "type": "image_picker",
        "id": "slide-bg-mobile",
        "label": "Slide Image Mobile"
    },
    {
        "type": "text",
        "id": "description",
        "label": "Slide Description"
    }
]
  }
  ],
  "presets": [
      {
          "category": "slider",
          "name":"Banner Slider"
      }
  ]
}
{% endschema %}
