


<style>
    .slide-content-wrapper *{
    color: #fff;
}
.slide-wrapper .slick-dots{
    position: absolute;
    width: 100vw;
    bottom: -13px;
    padding: 0;
}
.slide-wrapper{
display: flex;
min-height: calc(100vh - 115px);
text-align: center;
transition: all 0.4s ease-in-out;
background-size: cover;
}
@media (min-width:768px){

  
.banner-slide{
    display: flex;
    flex: 1;
    align-items: flex-end;
    background-image: none !important;
}
.banner-slide:hover{
    background-color:rgba(0,0,0,0.5);
}

.slide-wrapper .banner-slide{
    border-left: 1px solid rgba(255, 255, 255, 0.25);
    position: relative;
}
.banner-slide img{
    opacity: 0;
    display: none;
}
.slide-wrapper .banner-slide:first-child{
    border-left:0;
}
.slide-content-wrapper{
    /* margin: auto; */
    padding: 15px;
    transform: translateY(20px);
    transition: all 0.4s ease-in-out;
    opacity: 0.8;
}


.banner-slide:hover .slide-content-wrapper{
transform: translateY(-20px);
opacity: 1;
}

}
@media (max-width:767px){
    .slide-wrapper .slick-slide img{
    width: 100%;
    display: none;
}


.slide-content-wrapper{
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 50%;
width: 100%;
padding: 0 20px;
    transform: translateX(-50%);
}
.slide-wrapper .banner-slide{
    position: relative;
    min-height:calc(100vh - 115px);
    background-size: cover;
    background-position: center;
}
.slide-content-wrapper{
    opacity:1;
}
}
</style>
<script>
$(document).ready(function(){
    // adding slider to mobile and tab view
if($(window).width() < 768){

    $('.slide-wrapper').slick({
          arrows: false,
          infinite: true,
          dots:true,
          speed: 300,
          nextArrow: '<span  class="slick-next"><i class="fa fa-angle-right" aria-hidden="true"></i></span>',
          prevArrow: '<span  class="slick-prev"><i class="fa fa-angle-left" aria-hidden="true"></i></span>',
          slidesToShow: 1,
          slidesToScroll: 1
      });
}else{
    // changing bg on hover over slide
var bgDefault = $('.slide-wrapper .banner-slide:first-child').attr('data-bg');
$('.slide-wrapper').css('background-image','url(' + bgDefault + ')')
$('.banner-slide').hover(function(){
    var bg = $(this).attr('data-bg');
    $(this).addClass('active');
    $(this).find('.slide-content-wrapper').addClass('active')
    $('.slide-wrapper').css('background-image','url(' + bg + ')');
    
},function(){
    $(this).removeClass('active');
    $(this).find('.slide-content-wrapper').removeClass('active') 
    $('.slide-wrapper').removeClass('active');
})
}

})

</script>



  <div class="">
      <div class="slide-wrapper">
         
          {% for block in section.blocks %}
          {%- assign bg = block.settings.slide-bg | img_url: 'master' -%}
          <div class="banner-slide" 
          {% if block.settings.slide-bg != blank %}
          data-bg="{{bg}}"{% endif %}
          style="background-image: url({{bg}});">
          <img src="{{bg}}" alt="banner">
        <div class="slide-content-wrapper">
            <h2 class="slide-title">{{block.settings.title}}</h2>
            <p class="slide-desc">
                {{block.settings.description}}
            </p>
        </div>
        </div>
              
          {% endfor %}
      </div>
  </div>
  


{% javascript %}
  
{% endjavascript %}
{% schema %}
{
  "name": "Home Banner",
  "class": "home-banner-section",
  "settings": [
{
    "type": "text",
    "id": "title",
    "label": "Section",
    "default": "Home Banner"
}
  ],
  "max_blocks": 5,
  "blocks":[
  {      
"name": "slide",
"type": "slide",
"settings": [
    {
        "type": "text",
        "id": "title",
        "label": "title"
    },
    {
        "type": "image_picker",
        "id": "slide-bg",
        "label": "slide image"
    },
    {
        "type": "text",
        "id": "description",
        "label": "Slide Description"
    }
]
  }
  ],
  "presets": [
      {
          "category": "slider",
          "name":"Banner Slider"
      }
  ]
}
{% endschema %}
