<div class="icon-set page-width">
<div class="container">
      <div class="multicolumn-list grid grid--1-col grid--2-col-tablet grid--4-col-desktop">
        <!-- for 1st-->
        <div class="grid__item" id="sec-last-info"> 
          <div class="footer-info-img {% if section.settings.img_cat_svg != blank %}svg-icon{% endif %}">
            {% if section.settings.img_cat_svg != blank %}
            <div class="footer-info-svg-icons">{{section.settings.img_cat_svg}}</div>
            {% else %}
            <img src="{{ section.settings.img_cat| img_url :"master"}}">
            {% endif %}
          </div>
          <h2>{{ section.settings.img-txt }}</h2>
          <div class="txt-finfo">
            <p> {{ section.settings.img-linktext }}</p>
          </div>   
        </div> 
        <!-- for 2nd-->
        <div class="grid__item" id="sec-last-info">
          <div class="footer-info-img {% if section.settings.img_cat1_svg != blank %}svg-icon{% endif %}">
            {% if section.settings.img_cat1_svg != blank %}
            <div class="footer-info-svg-icons">{{section.settings.img_cat1_svg}}</div>
            {% else %}
            <img src="{{ section.settings.img_cat1| img_url :"master"}}">
            {% endif %}
          </div>
          <h2>{{ section.settings.img-txt1 }}</h2>
          <div class="txt-finfo">
            <p> {{ section.settings.img-linktext1 }}</p>
          </div>   
        </div> 
        <!-- for 3rd-->
        <div class="grid__item" id="sec-last-info"> 
          <div class="footer-info-img {% if section.settings.img_cat2_svg != blank %}svg-icon{% endif %}">
            {% if section.settings.img_cat2_svg != blank %}
            <div class="footer-info-svg-icons">{{section.settings.img_cat2_svg}}</div>
            {% else %}
            <img src="{{ section.settings.img_cat2| img_url :"master"}}">
            {% endif %}
          </div>
          <h2>{{ section.settings.img-txt2 }}</h2>
          <div class="txt-finfo">
            <p> {{ section.settings.img-linktext2 }}</p>
          </div>   
        </div>   
        <!-- for 4rd-->
        <div class="grid__item" id="sec-last-info"> 
          <div class="footer-info-img {% if section.settings.img_cat3_svg != blank %}svg-icon{% endif %}">
            {% if section.settings.img_cat3_svg != blank %}
            <div class="footer-info-svg-icons">{{section.settings.img_cat3_svg}}</div>
            {% else %}
            <img src="{{ section.settings.img_cat3| img_url :"master"}}">
            {% endif %}
          </div>
          <h2>{{ section.settings.img-txt3 }}</h2>
          <div class="txt-finfo">
            <p> {{ section.settings.img-linktext3 }}</p>
          </div>   
        </div> 
      </div>
    </div>
</div>

{% schema %}
  {
    "name": "Icon Set",
"class":"section-icon-set",
    "settings": [
  { "type": "header",
      "content": "Icon Set"},
  {
        "type": "checkbox",
        "id": "footer_new_enable",
        "label": "Show info section?",
        "default": false
      },
  {
         "type": "image_picker",
        "id": "img_cat",
        "label": "Footer Info Image 1"
        },
        {
         "type": "html",
        "id": "img_cat_svg",
        "label": "Footer Info SVG 1"
        },

        {
          "id": "img-txt",
          "type": "text",
       		"label": "Footer Info Heading 1"
        },
        {
          "id": "img-linktext",
          "type": "text",
          "label": "Footer Info Text 1",
          "default": "Enter text"
        },
 {
         "type": "image_picker",
        "id": "img_cat1",
        "label": "Footer Info Image 2"
        },
        {
         "type": "html",
        "id": "img_cat1_svg",
        "label": "Footer Info SVG 2"
        },

        {
          "id": "img-txt1",
          "type": "text",
       		"label": "Footer Info Heading 2"
        },
        {
          "id": "img-linktext1",
          "type": "text",
          "label": "Footer Info Text 2",
          "default": "Enter text"
        },
 {
         "type": "image_picker",
        "id": "img_cat2",
        "label": "Footer Info Image 3"
        },
        {
         "type": "html",
        "id": "img_cat2_svg",
        "label": "Footer Info svg 3"
        },

        {
          "id": "img-txt2",
          "type": "text",
       		"label": "Footer Info Heading 3"
        },
        {
          "id": "img-linktext2",
          "type": "text",
          "label": "Footer Info text 3",
          "default": "Enter text"
        },
 {
         "type": "image_picker",
        "id": "img_cat3",
        "label": "Footer Info Image 4"
        },
        {
         "type": "html",
        "id": "img_cat3_svg",
        "label": "Footer Info svg 4"
        },
        {
          "id": "img-txt3",
          "type": "text",
       		"label": "Footer Info Heading 4"
        },
        {
          "id": "img-linktext3",
          "type": "text",
          "label": "Footer Info Text 4",
          "default": "Enter text"
        }
],"presets": [
    {
      "name": "Icon Set",
"category":"icons"

    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
