{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}

<cart-items class="cart--wrapper{% if cart == empty %} is-empty{% endif %}">
  <div class="cart-bd">
    <h1 class="h3 pos-r">MY CART</h1>
 
  </div>

  <div class="cart__warnings">
    <h2 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h2>
    <a href="{{ routes.all_products_collection_url }}" class="link">
      {{ 'general.continue_shopping' | t }}
    </a>
  </div>

  <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
    <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
      <div class="js-contents">
        {%- if cart != empty -%}
          <table class="cart-items">
            {% comment %} <thead>
              <tr>
                <th class="caption-with-letter-spacing" colspan="2" scope="col">{{ 'sections.cart.headings.product' | t }}</th>
                <th class="right caption-with-letter-spacing" colspan="1" scope="col">{{ 'sections.cart.headings.price' | t }}</th>
                <th class="cart-items__heading--wide medium-up caption-with-letter-spacing" colspan="1" scope="col">{{ 'sections.cart.headings.quantity' | t }}</th>
                <th class="medium-up right caption-with-letter-spacing" colspan="1" scope="col">{{ 'sections.cart.headings.total' | t }}</th>
              </tr>
            </thead> {% endcomment %}

            <tbody>
              {%- for item in cart.items -%}
              
                <tr class="cart-item {% if item.product.title == 'gift wrap' %}hidden
              {% endif %}" id="CartItem-{{ item.index | plus: 1 }}">
                  <td class="cart-item__media">
                    <div class="cart-image">
                      {% if item.image %}
                      <img class="cart-item__image"
                        src="{{ item.image | img_url: '150x' }}"
                        alt="{{ item.image.alt | escape }}"
                        loading="lazy"
                        width="75"
                        height="{{ 75 | divided_by: item.image.aspect_ratio | ceil }}"
                      >
                    {% endif %}
                    </div>
                  </td>

                  <td class="cart-item__details">
                    <div class="cart-details-main">
                      {%- if section.settings.show_vendor -%}
                      <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                    {%- endif -%}

                    <a href="{{ item.product.url }}" class="cart-item__name h3 break">{{ item.product.title | escape }}</a>

                    {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                      <dl>
                        {%- if item.product.has_only_default_variant == false -%}
                          {%- for option in item.options_with_values -%}
                            <div class="product-option">
                             
                              <dd>{{ option.value }}</dd>
                            </div>
                          {%- endfor -%}
                        {%- endif -%}

                        {%- for property in item.properties -%}
                          {%- assign property_first_char = property.first | slice: 0 -%}
                          {%- if property.last != blank and property_first_char != '_' -%}
                            <div class="product-option">
                              <dt>{{ property.first }}: </dt>
                              <dd>
                                {%- if property.last contains '/uploads/' -%}
                                  <a href="{{ property.last }}" target="_blank">
                                    {{ property.last | split: '/' | last }}
                                  </a>
                                {%- else -%}
                                  {{ property.last }}
                                {%- endif -%}
                              </dd>
                            </div>
                          {%- endif -%}
                        {%- endfor -%}
                      </dl>

                      <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                    {%- endif -%}
{% if item.product.metafields.bundle.bundle-product-1 != blank or item.product.metafields.bundle.bundle-product-2 != blank or item.product.metafields.bundle.bundle-product-3 != blank or item.product.metafields.bundle.bundle-product-4 != blank %}
  <span class="check-combo">Check your combo <span class="scroll_icon ">
    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 172 172" style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#000000"><path d="M17.2,68.8v-11.46667c0,-2.21307 1.27853,-4.2312 3.27947,-5.18293c2.00093,-0.95173 4.3688,-0.65933 6.0888,0.74533l59.43173,48.63013l59.43747,-48.63013c1.71427,-1.40467 4.08213,-1.69133 6.0888,-0.74533c2.00667,0.946 3.27373,2.96987 3.27373,5.18293v11.46667c0,1.72 -0.774,3.34827 -2.10413,4.4376l-63.06667,51.6c-2.1156,1.72573 -5.14853,1.72573 -7.26413,0l-63.06667,-51.6c-1.3244,-1.08933 -2.0984,-2.7176 -2.0984,-4.4376z"></path></g></g></svg>
  </span></span>
  <div class="combo-popup">
    {% assign bundle = item.product.metafields.bundle %}
    <ul>
    {% if bundle.product-1 != blank %}
    {% assign product-1 = all_products[bundle.product-1] %}
      <li class="cart-item ">
        <div class="cart-item__media">
          <div class="cart-image">
            {% if product-1.image %}
            <img class="cart-item__image"
              src="{{ product-1.image | img_url: '150x' }}"
              alt="{{ product-1.image.alt | escape }}"
              loading="lazy"
            >
          {% endif %}
          </div>
        </div>
        <div class="cart-item__details">
          <a href="{{ product-1.url }}" class="cart-item__name h3 break">{{ product-1.title | escape }}</a>
          <div class="add-btn">Add</div>
        </div>
        <div class="cart-item__totals right">
          <div>
            <a class="write-review">Write product review</a>
          </div>
            <div class="cart-item__price-wrapper">
              <div class="cart-price-wrapper">
                {% if product-1.compare_at_price > product-1.price %}              
                <span class="price compare-price price--end">
                  {{ product-1.compare_at_price | money_without_trailing_zeros | remove: " " }}
                </span>
                {% endif %}
                <span class="price price--end  {% if product-1.compare_at_price > product-1.price %} accent {% endif %}">
                  {{ product-1.price | money_without_trailing_zeros | remove: " " }}
                </span>
                {% if product-1.compare_at_price > product-1.price %}
                <div class="saving-btn">
                  <span>
                    Save {{product-1.compare_at_price | minus:product-1.price | money_without_trailing_zeros | remove: " "}}
                  </span>

                </div>
                {% endif %}
              </div>
            </div>
            <!-- <div class="loading-overlay hidden">
              <div class="loading-overlay__spinner">
                <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                  <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                </svg>
              </div>
            </div> -->
          </div>
      </li>
      {{product-1.title}}
    {% endif %}
    {% if bundle.product-2 != blank %}
    {% assign product-2 = all_products[bundle.product-2] %}
    <li class="cart-item">
      <div class="cart-item__media">
        <div class="cart-image">
          {% if product-2.image %}
          <img class="cart-item__image"
            src="{{ product-2.image | img_url: '150x' }}"
            alt="{{ product-2.image.alt | escape }}"
            loading="lazy"
          >
        {% endif %}
        </div>
      </div>
      <div class="cart-item__details">
        <a href="{{ product-2.url }}" class="cart-item__name h3 break">{{ product-2.title | escape }}</a>
        <div class="add-btn">Add</div>
      </div>
      <div class="cart-item__totals right">
        <div>
          <a class="write-review">Write product review</a>
        </div>
          <div class="cart-item__price-wrapper">
            <div class="cart-price-wrapper">
              {% if product-2.compare_at_price > product-2.price %}              
              <span class="price compare-price price--end">
                {{ product-2.compare_at_price | money_without_trailing_zeros | remove: " " }}
              </span>
              {% endif %}
              <span class="price price--end  {% if product-2.compare_at_price > product-2.price %} accent {% endif %}">
                {{ product-2.price | money_without_trailing_zeros | remove: " " }}
              </span>
              {% if product-2.compare_at_price > product-2.price %}
              <div class="saving-btn">
                <span>
                  Save {{product-2.compare_at_price | minus:product-2.price | money_without_trailing_zeros | remove: " "}}
                </span>
  
              </div>
              {% endif %}
            </div>
          </div>
          <!-- <div class="loading-overlay hidden">
            <div class="loading-overlay__spinner">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div> -->
        </div>
    </li>
    {% endif %}
    {% if bundle.product-3 != blank %}
    {% assign product-3 = all_products[bundle.product-3] %}
    <li class="cart-item ">
      <div class="cart-item__media">
        <div class="cart-image">
          {% if product-3.image %}
          <img class="cart-item__image"
            src="{{ product-3.image | img_url: '150x' }}"
            alt="{{ product-3.image.alt | escape }}"
            loading="lazy"
          >
        {% endif %}
        </div>
      </div>
      <div class="cart-item__details">
        <a href="{{ product-3.url }}" class="cart-item__name h3 break">{{ product-3.title | escape }}</a>
        <div class="add-btn">Add</div>
      </div>
      <div class="cart-item__totals right">
        <div>
          <a class="write-review">Write product review</a>
        </div>
          <div class="cart-item__price-wrapper">
            <div class="cart-price-wrapper">
              {% if product-3.compare_at_price > product-3.price %}              
              <span class="price compare-price price--end">
                {{ product-3.compare_at_price | money_without_trailing_zeros | remove: " " }}
              </span>
              {% endif %}
              <span class="price price--end  {% if product-3.compare_at_price > product-3.price %} accent {% endif %}">
                {{ product-3.price | money_without_trailing_zeros | remove: " " }}
              </span>
              {% if product-3.compare_at_price > product-3.price %}
              <div class="saving-btn">
                <span>
                  Save {{product-3.compare_at_price | minus:product-3.price | money_without_trailing_zeros | remove: " "}}
                </span>
  
              </div>
              {% endif %}
            </div>
          </div>
          <!-- <div class="loading-overlay hidden">
            <div class="loading-overlay__spinner">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div> -->
        </div>
    </li>
    {% endif %}
    {% if bundle.product-4 != blank %}
    {% assign product-4 = all_products[bundle.product-4] %}
    <li class="cart-item ">
      <div class="cart-item__media">
        <div class="cart-image">
          {% if product-4.image %}
          <img class="cart-item__image"
            src="{{ product-4.image | img_url: '150x' }}"
            alt="{{ product-4.image.alt | escape }}"
            loading="lazy"
          >
        {% endif %}
        </div>
      </div>
      <div class="cart-item__details">
        <a href="{{ product-4.url }}" class="cart-item__name h3 break">{{ product-4.title | escape }}</a>
        <div class="add-btn">Add</div>
      </div>
      <div class="cart-item__totals right">
        <div>
          <a class="write-review">Write product review</a>
        </div>
          <div class="cart-item__price-wrapper">
            <div class="cart-price-wrapper">
              {% if product-4.compare_at_price > product-4.price %}              
              <span class="price compare-price price--end">
                {{ product-4.compare_at_price | money_without_trailing_zeros | remove: " " }}
              </span>
              {% endif %}
              <span class="price price--end  {% if product-4.compare_at_price > product-4.price %} accent {% endif %}">
                {{ product-4.price | money_without_trailing_zeros | remove: " " }}
              </span>
              {% if product-4.compare_at_price > product-4.price %}
              <div class="saving-btn">
                <span>
                  Save {{product-4.compare_at_price | minus:product-4.price | money_without_trailing_zeros | remove: " "}}
                </span>
  
              </div>
              {% endif %}
            </div>
          </div>
          <!-- <div class="loading-overlay hidden">
            <div class="loading-overlay__spinner">
              <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
          </div> -->
        </div>
    </li>
    {% endif %}
  </ul>
  </div>
{% endif %}
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in item.discounts -%}
                        <li class="discounts__discount">
                          {%- render 'icon-discount' -%}
                          {{ discount.title }}
                        </li>
                      {%- endfor -%}
                    </ul>

                    <p class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}">
                      <span class="cart-item__error-text"></span>
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                      </svg>
                    </p>
                    
                    <quantity-input class="quantity">
                      <button class="quantity__button no-js-hidden" name="minus" type="button">
                        <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                        {% render 'icon-minus' %}
                      </button>
                      <input class="quantity__input"
                        type="number"
                        name="updates[]"
                        value="{{ item.quantity }}"
                        min="0"
                        aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                        id="Quantity-{{ item.index | plus: 1 }}"
                        data-index="{{ item.index | plus: 1 }}"
                      >
                      <button class="quantity__button no-js-hidden" name="plus" type="button">
                        <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                        {% render 'icon-plus' %}
                      </button>
                    </quantity-input>

                     <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                      <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                        {% comment %} {% render 'icon-remove' %} {% endcomment %}Remove
                      </a>
                    </cart-remove-button>
                    </div>
                  </td>
                  <td class="cart-item__totals right">
                  <div><a class="write-review">Write product review</a></div>
                    <div class="cart-item__price-wrapper">
                      {%- if item.original_price != item.final_price -%}
                        <dl class="cart-item__discounted-prices">
                          <dt class="visually-hidden">
                            {{ 'products.product.price.regular_price' | t }}
                          </dt>
                          <dd>
                            <s class="cart-item__old-price price price--end">
                              {{ item.original_price | money_without_trailing_zeros }}
                            </s>
                          </dd>
                          <dt class="visually-hidden">
                            {{ 'products.product.price.sale_price' | t }}
                          </dt>
                          <dd class="price price--end">
                            {{ item.final_price | money_without_trailing_zeros }}
                          </dd>
                        </dl>

                        {%- if item.variant.available and item.unit_price_measurement -%}
                          <div class="unit-price caption">
                            <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                            {{ item.variant.unit_price | money_without_trailing_zeros }}
                            <span aria-hidden="true">/</span>
                            <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                            {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                              {{- item.variant.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ item.variant.unit_price_measurement.reference_unit }}
                          </div>
                        {%- endif -%}
                      {%- else -%}
                      <div class="cart-price-wrapper">

                       
                        {% if item.variant.compare_at_price > item.original_price %}
                          
                        <span class="price compare-price price--end">
                          {{ item.variant.compare_at_price | money_without_trailing_zeros | remove: " " }}
                        </span>

                        {% endif %}
                        <span class="price price--end  {% if item.variant.compare_at_price > item.original_price %} accent {% endif %}">
                          {{ item.original_price | money_without_trailing_zeros | remove: " " }}
                        </span>
                        {% if item.variant.compare_at_price > item.original_price %}
                        <div class="saving-btn">
                          <span>
                            Save {{item.variant.compare_at_price | minus:item.original_price | money_without_trailing_zeros | remove: " "}}
                          </span>

                        </div>
                        {% endif %}
                      </div>
                      {%- endif -%}
                    </div>
                    <div class="loading-overlay hidden">
                      <div class="loading-overlay__spinner">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>
                  </td>
                </tr>
              {%- endfor -%}
            </tbody>
          </table>
        {%- endif -%}
      </div>
    </div>

    <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
    <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
    {% render 'cart-gift-wrap', context:'form' %}
  </form>
  <div class="add-more-products">   <a href="{{ routes.all_products_collection_url }}" class="underlined-link">Add More Products</a></div>

</cart-items>

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "class":"section--main-cart-items",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-cart-items.settings.show_vendor.label"
    }
  ]
}
{% endschema %}
