{{ 'section-num-animation.css' | asset_url | stylesheet_tag }}
<div class="map-with-num-aanimation page-width" >
  <div class="img-wrapper"><img src="{{ section.settings.image | img_url: 'master' }}" width="100%" alt="map"></div>
  <div class="num-animation-wrtapper grid grid--2-col grid--4-col-tablet grid--4-col-desktop">
    {% for block in section.blocks %}
    <div class="animation-block grid__item">
      
      <div class="grid counter-wrap"><span class="counter" data-number="{{block.settings.text}}">{{block.settings.text}}</span> <span>{{block.settings.text-after-number}}</span></div>
      <h3 class="mb-0">{{block.settings.heading}}</h3>
    </div>  
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Map With Number Aniamtion",
"class":"section-map-with-num-aanimation spaced-section--full-width",
    "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-banner.settings.image.label"
    }
],

  "blocks": [
    {
      "type": "text-block",
      "name": "Text Block",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Number",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "number",
          "id": "text",
          "default": 245,
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
{
          "type": "text",
          "id": "text-after-number",
          "label": "Text After Number"
        }
      ]
    }
    
    
  ],
"presets":[
    {
     "name":"Map With Number Aniamtion",
      "blocks": [
        {
          "type": "text-block"
        },
        {
          "type": "text-block"
        },
{
          "type": "text-block"
        },
        {
          "type": "text-block"
        }
      ]
    }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
