{{ 'section-our-journey.css' | asset_url | stylesheet_tag }}
<noscript>{{ 'section-our-journey.css' | asset_url | stylesheet_tag }}</noscript>

<div class=" background-{{ section.settings.background_style }}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="page-width">
   <div class="section-images-wrapper">
   {% for block in section.blocks %}
   <div data-index="{{forloop.index}}" data-res-id="1" data-survey-res-id="1291" data-res-text="Short" data-res-desc-text="" class="year-img res-active"><img src="{{block.settings.image | img_url: 'medium'}}"></div> 
{% endfor %}
   </div> 
  <div class="section-nav">
<ul class="">
{% for block in section.blocks %}
   <li data-index="{{forloop.index}}" data-res-id="1" data-survey-res-id="1291" data-res-text="Short" data-res-desc-text="" class="year"><span>{{block.settings.title}}</span></li> 
{% endfor %}
</ul>
</div>

  </div>
</div>
{% schema %}
{
  "name": "Our Journey",
  "class": "spaced-section spaced-section--full-width",
  "tag": "section",
  "settings": [
   
  ],
  "blocks": [
    {
      "type": "year",
      "name": "year",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "year"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "year",
      "blocks": [
        {
          "type": "year"
        },
        {
          "type": "year"
        },
        {
          "type": "year"
        }
      ]
    }
  ]
}
{% endschema %}
