{{ 'section-our-journey.css' | asset_url | stylesheet_tag }}
<noscript>{{ 'section-our-journey.css' | asset_url | stylesheet_tag }}</noscript>

<div class=" background-{{ section.settings.background_style }}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="">
<div class="up-sec">
  <div class="section-images-wrapper">
    {% for block in section.blocks %}
    <div class="year-slide {% if forloop.first %}active{% endif %}">
      <div  data-index="{{forloop.index}}"  class="year-img "><img src="{{block.settings.image | img_url: 'medium'}}"></div> 
    <div class="nav-link">
      <span data-index="{{forloop.index}}" data-res-id="1" data-survey-res-id="1291" data-res-text="Short" data-res-desc-text="" class="year"><span>{{block.settings.title}}</span></span> 
    </div>
    </div>
 {% endfor %}
    </div> 

</div>
<div class="journey-products">

  {% for block in section.blocks %}
{%- assign product = all_products[block.settings.launched-product] -%}
{% if block.settings.product-image != blank %}
  
{%- assign bg = block.settings.product-image | img_url: 'master' -%}
{%- assign bg_mobile = block.settings.product-image-mobile | img_url: 'master' -%}

{% endif %}
    <div class="product-slide" data-index="{{forloop.index}}" style="background-image: url({{bg}});">
{% if product %}
{% if bg %}
  
<img src="{{bg}}" class="pro-img" alt="product image">
<img src="{{bg_mobile}}" class="pro-img mobile" alt="product image">

{% endif %}
<div class="product-details">
  <h2 class="" style="color:{{block.settings.heading-color}};margin: 0;">{{product.title}}</h2>
  <div class="description" style="color: {{block.settings.description-color}};">
    {{product.description}}
  </div>
  <div class="banner__buttons">
    <a href="{{product.url}}" class="button button--primary" style="border: 1px solid  {{block.settings.button-color}};color:{{block.settings.button-color}};">Shop Now</a></div>
  </div>
{% endif %}
    </div>
  {% endfor %}
</div>

  </div>
</div>
{% schema %}
{
  "name": "Our Journey",
  "class": "our-journey spaced-section--full-width",
  "tag": "section",
  "settings": [
   
  ],
  "blocks": [
    {
      "type": "year",
      "name": "year",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "year"
        },
        {
          "type": "product",
          "id": "launched-product",
          "label": "Please Pick Product"
        },
        {
          "type": "image_picker",
          "id": "product-image",
          "label": "Select Image of Product"
        },
        {
          "type": "image_picker",
          "id": "product-image-mobile",
          "label": "Select Image of Product for Mobile View"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "heading-color",
          "label": "Heading Color",
          "default": "#fff"
        },
        {
          "type": "color",
          "id": "description-color",
          "label": "description-color",
          "default": "#000"
        },
        {
          "type": "color",
          "id": "button-color",
          "label": "Button Color",
          "default": "#000"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "year",
      "blocks": [
        {
          "type": "year"
        },
        {
          "type": "year"
        },
        {
          "type": "year"
        }
      ]
    }
  ]
}
{% endschema %}
