{{ 'section-our-journey.css' | asset_url | stylesheet_tag }}
<noscript>{{ 'section-our-journey.css' | asset_url | stylesheet_tag }}</noscript>

<div class=" background-{{ section.settings.background_style }}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div class="page-width">
   <div class="section-images-wrapper">
   {% for block in section.blocks %}
   <div  data-index="{{forloop.index}}"  class="year-img {% if forloop.last %}active{% endif %}"><img src="{{block.settings.image | img_url: 'medium'}}"></div> 
   
{% endfor %}
   </div> 
  <div class="section-nav">
<ul class="">
{% for block in section.blocks %}
   <li data-index="{{forloop.index}}" data-res-id="1" data-survey-res-id="1291" data-res-text="Short" data-res-desc-text="" class="year"><span>{{block.settings.title}}</span></li> 
{% endfor %}
</ul>
</div>
<div class="journey-products">

  {% for block in section.blocks %}
{%- assign product = all_products[block.settings.launched-product] -%}
{%- assign bg = block.settings.product-image | img_url: 'master' -%}
    <div class="product-slide" data-index="{{forloop.index}}" style="background-image: url({{bg}});">
{% if product %}
<img src="{{bg}}" class="pro-img" alt="product image">
<div class="product-details">
  <h2 class="title" style="color:{{block.settings.heading-color}};">{{product.title}}</h2>
  <p class="description" style="color: {{block.settings.description-color}};">
    {{product.description}}
  </p>
  <div class="banner__buttons">
    <a href="{{product.url}}" class="button button--primary" style="border: 1px solid  {{block.settings.button-color}};color:{{block.settings.button-color}};">Shop Now</a></div>
  </div>
{% endif %}
    </div>
  {% endfor %}
</div>

  </div>
</div>
{% schema %}
{
  "name": "Our Journey",
  "class": "our-journey spaced-section--full-width",
  "tag": "section",
  "settings": [
   
  ],
  "blocks": [
    {
      "type": "year",
      "name": "year",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        },
        {
          "type": "text",
          "id": "title",
          "default": "Column",
          "label": "year"
        },
        {
          "type": "product",
          "id": "launched-product",
          "label": "Please Pick Product"
        },
        {
          "type": "image_picker",
          "id": "product-image",
          "label": "Select Image of Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "year",
      "blocks": [
        {
          "type": "year"
        },
        {
          "type": "year"
        },
        {
          "type": "year"
        }
      ]
    }
  ]
}
{% endschema %}
