<style>
.image-with-text-overlay-wrapper.is-link{cursor:pointer}.image-with-text-overlay-wrapper .homepage-featured-content-box{position:static;transform:translate(0,0);display:flex;align-items:center}@media screen and (min-width:480px){.image-with-text-overlay-wrapper .homepage-featured-content-box{width:50%}}.image-with-text-overlay-wrapper .image-with-text-overlay__content-box{display:flex;justify-content:center}.image-with-text-overlay-wrapper .homepage-featured-content-wrapper{display:flex;justify-content:center;align-content:center;overflow:hidden;height:auto;min-height:300px;position: relative;}.image-with-text-overlay-wrapper .homepage-featured-content-wrapper .homepage-content--image{height:100%;position:absolute;left:0;right:0}.image-with-text-overlay-wrapper .size-original .image-cover{max-width:none!important;max-height:none!important;object-fit:cover!important}.image-with-text-overlay-wrapper .size-original .homepage-content--image{height:auto}@media screen and (min-width:769px){.image-with-text-overlay-wrapper .size-small .homepage-featured-content-wrapper{min-height:30vw}.image-with-text-overlay-wrapper .size-medium .homepage-featured-content-wrapper{min-height:40vw}.image-with-text-overlay-wrapper .size-large .homepage-featured-content-wrapper{min-height:50vw!important}}@media screen and (max-width:768px){.image-with-text-overlay-wrapper .size-original .homepage-content--image,.image-with-text-overlay-wrapper .size-original .homepage-content--image .img,.image-with-text-overlay-wrapper .size-original .homepage-content--image>div{min-height:auto}}.image-with-text-overlay-wrapper .homepage-content--image{min-height:300px;display:flex}.image-with-text-overlay-wrapper .homepage-content--image .img,.image-with-text-overlay-wrapper .homepage-content--image>div{min-height:300px;height:100%;width:100%}.image-with-text-overlay-wrapper .homepage-content--image svg.icon.icon--placeholder{min-height:inherit}.image-with-text-overlay-wrapper .homepage-sections-wrapper{padding:0;overflow:hidden}.image-with-text-overlay-wrapper .homepage-content--image:before{opacity:0;background-color:#000;bottom:0;content:"";left:0;position:absolute;right:0;top:0;z-index:1}.image-with-text-overlay-wrapper .homepage-featured-content-box{background:0 0}.image-with-text-overlay-wrapper .featured-row__subtext{font-size:18px;padding-top:10px}@media screen and (max-width:768px){.image-with-text-overlay-wrapper .featured-row__subtext{padding-top:7.5px}}.image-with-text-overlay-wrapper h2.homepage-sections--title{margin-bottom:0;font-size:38px}.image-with-text-overlay-wrapper .featured-row__subtext p{margin-top:15px}.image-with-text-overlay-wrapper .featured-row__subtext p:first-child{margin-top:0}.image-with-text-overlay-wrapper--light .featured-row__subtext,.image-with-text-overlay-wrapper--light h2.homepage-sections--title,.image-with-text-overlay-wrapper--light h2.homepage-sections--title a{color:var(--color-scheme-light-background)}.image-with-text-overlay-wrapper--accent .featured-row__subtext,.image-with-text-overlay-wrapper--accent h2.homepage-sections--title{color:var(--color-scheme-feature-background)}.image-with-text-overlay-wrapper--dark .featured-row__subtext,.image-with-text-overlay-wrapper--dark h2.homepage-sections--title{color:var(--color-scheme-dark-background)}.image-with-text-overlay-wrapper--textPosition-center .homepage-featured-content-box,.image-with-text-overlay-wrapper--textPosition-left .homepage-featured-content-box,.image-with-text-overlay-wrapper--textPosition-right .homepage-featured-content-box{left:25%;right:25%}@media screen and (min-width:480px){.image-with-text-overlay-wrapper--textPosition-left .homepage-featured-content-box{position:relative;left:auto;right:25%}.image-with-text-overlay-wrapper--textPosition-center .homepage-featured-content-box{left:25%;right:25%}.image-with-text-overlay-wrapper--textPosition-right .homepage-featured-content-box{position:relative;left:25%;right:auto}}.image-with-text-overlay-wrapper--textAlignment-left .homepage-featured-content-box .homepage-featured-content-box-inner,.image-with-text-overlay-wrapper--textAlignment-left .homepage-featured-content-box .homepage-featured-content-box-inner h2.homepage-sections--title{text-align:left}.image-with-text-overlay-wrapper--textAlignment-left .homepage-featured-content-box .homepage-featured-content-box-inner h2.homepage-sections--title:after{margin-left:0}.image-with-text-overlay-wrapper--textAlignment-center .homepage-featured-content-box .homepage-featured-content-box-inner,.image-with-text-overlay-wrapper--textAlignment-center .homepage-featured-content-box .homepage-featured-content-box-inner h2.homepage-sections--title{text-align:center}.image-with-text-overlay-wrapper--textAlignment-right .homepage-featured-content-box .homepage-featured-content-box-inner,.image-with-text-overlay-wrapper--textAlignment-right .homepage-featured-content-box .homepage-featured-content-box-inner h2.homepage-sections--title{text-align:right}.image-with-text-overlay-wrapper--textAlignment-right .homepage-featured-content-box .homepage-featured-content-box-inner h2.homepage-sections--title:after{margin-right:0}
.proimg-perrallax{position: absolute;width: 200px;right: 150px;bottom: 90px;}
.proimg-perrallax img{
    width: 100%;
}
</style>
<div class="
    homepage-sections-wrapper homepage-content--template--14163371163718__image-text-with-image-overlay-1
    image-with-text-overlay-wrapper image-with-text-overlay-wrapper--dark image-with-text-overlay-wrapper--textPosition-left image-with-text-overlay-wrapper--textAlignment-right size-small is-link
    " data-wetheme-section-type="image--image-with-text-overlay" data-wetheme-section-id="template--14163371163718__image-text-with-image-overlay-1">

    

    

    
    

    

        <style>
        
          
          







.homepage-content--template--14163371163718__image-text-with-image-overlay-1 .img {
  background-image: url('{{section.settings.bg_1 | img_url:"master" }}');
}


  
@media (min-width: 301px) and (max-width: 600px) {
  .homepage-content--template--14163371163718__image-text-with-image-overlay-1 .img {
    background-image: url('{{section.settings.bg_1 | img_url:"master" }}');
  }
}
  

  
@media (min-width: 601px) and (max-width: 900px) {
  .homepage-content--template--14163371163718__image-text-with-image-overlay-1 .img {
    background-image: url('{{section.settings.bg_1 | img_url:"master" }}');
  }
}
  

  
@media (min-width: 901px) and (max-width: 1200px) {
  .homepage-content--template--14163371163718__image-text-with-image-overlay-1 .img {
    background-image: url('{{section.settings.bg_1 | img_url:"master" }}');
  }
}
  

  
@media (min-width: 1201px) and (max-width: 1500px) {
  .homepage-content--template--14163371163718__image-text-with-image-overlay-1 .img {
    background-image: url('{{section.settings.bg_1 | img_url:"master" }}');
  }
}
  

  
@media (min-width: 1501px) and (max-width: 2000px) {
  .homepage-content--template--14163371163718__image-text-with-image-overlay-1 .img {
    background-image: url('{{section.settings.bg_1 | img_url:"master" }}');
  }
}
  

  
@media (min-width: 2001px) {
  .homepage-content--template--14163371163718__image-text-with-image-overlay-1 .img {
    background-image: url('{{section.settings.bg_1 | img_url:"master" }}');
  }
}
  



          
          .homepage-content--template--14163371163718__image-text-with-image-overlay-1 {
            background-image: url('{{section.settings.bg_1 | img_url:"master" }}');
            background-size: 1px 1px;
          }

          .homepage-content--template--14163371163718__image-text-with-image-overlay-1 .img {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        

        .homepage-content--template--14163371163718__image-text-with-image-overlay-1 .img {
          height: 30vw;
        }

        @media only screen and (max-width: 577px) {
          #shopify-section-text-with-image-overlay .homepage-sections--title,
          #shopify-section-text-with-image-overlay .featured-row__subtext {
            color: #242424;
          }
        }

        @media only screen and (min-width: 768px) {
          .homepage-content--template--14163371163718__image-text-with-image-overlay-1 #rellax--template--14163371163718__image-text-with-image-overlay-1.rellax.img {
            height: calc(100% * 1.5);
            margin-top: -7.5vw;
          }
        }

        .parallax.parallax--template--14163371163718__image-text-with-image-overlay-1 {
          height: 30vw;
        }

        </style>

        <div>
            <div class="homepage-indiv-section-wrapper grid--full homepage-featured-content-wrapper">

                

                
                    <div class="large--one-whole homepage-content--image homepage-content--template--14163371163718__image-text-with-image-overlay-1 kb-enabled in-viewport">
                        <div class=" parallax parallax--template--14163371163718__image-text-with-image-overlay-1">
                        
                            <div id="rellax--template--14163371163718__image-text-with-image-overlay-1" class="img rellax" data-rellax-percentage="0.5" data-rellax-desktop-speed="-4" data-rellax-tablet-speed="-2" role="img" aria-label="Beetroot and berry smoothie bottle" style="transform: translate3d(0px, -26px, 0px);">
                            <div class="proimg-perrallax" id="proImg">
                                {%- assign src = section.settings.bg_2 | img_url: 'master' -%}
                                <img src="{{ src }}" alt="banner_2">
                            </div>
                            </div>
                        
                        </div>
                    </div>
                

                
                    <div class="grid__item homepage-featured-content-box image-with-text-overlay__content-box">
                        <div class="homepage-featured-content-box-inner shown-on-scroll animated fadeInUp">
                            
                                <div class="sitewide--title-wrapper">
                                  <h2 class="homepage-sections--title homepage-section-title">
                                    <a href="/pages/about-us">Why is it so good for me?</a>
                                  </h2>
                                </div>
                            

                            
                                <div class="rte featured-row__subtext textarea"><p>Find out what makes our smoothies&nbsp;bursting with&nbsp;<br>nutrients and anti-oxidents!</p></div>
                            

                            
                        </div>
                    </div>
                
            </div>
        </div>

    
</div>
  <script>
      let proimg = document.getElementById('proImg');
      window.addEventListener('scroll',function(){
          var val  = window.scrollY;
          console.log(val)

        //   proimg.style.transform = "translateY(" + (val - 10) + "px)";
          
      })
  </script>

  {% schema %}
{
  "name": "Perrallex",
  "settings": [
       
    {
        "type": "image_picker",
        "id": "bg_1",
        "label": "Background Image"
    },
    {
      "type": "image_picker",
      "id": "bg_2",
      "label": "Movable Image"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
      "type": "header",
      "content": "bottom-nav"
  },
    {
        "type": "link_list",
        "id": "left-nav",
        "label": "left nav"
    },
    {
        "type": "link_list",
        "id": "right-nav",
        "label": "right nav"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    }
  ],
  "presets": [
      {
          "category": "image",
          "name":"Prallex Section"
      }
  ]
}
{% endschema %}